form textarea {
  height: 200px;
}

form input {
  height: 70px;
}

form .form-check-input {
  height: 16px;
  width: 16px;
  
}

.form-select:focus, .form-control:focus {
  border-color: #000f;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
