<!-- Offers -->
<section id="ourOffer">
  <div class="container">
    <h2 class="h1 text-lg-center mt-5 mb-5">Co oferujemy</h2>
    <div class="row text-center pb-5">
      <!--<div class="col-md-4 mb-4">
        <div class="card border p-4 rounded bg-white shadow-sm h-100">
          <div class="card-header bg-white">
            <h3 class="text-start"><strong>Generowanie leadów</strong></h3>
          </div>
          <p class="card-body lead text-muted fs-4 text-start py-4">
            Odkryj, jak skutecznie pozyskiwać nowych klientów i budować trwałe relacje, wykorzystując innowacyjne strategie i narzędzia
          </p>
          <div class="card-footer bg-white">
            <div class="text-start">
              <button type="button" class="btn btn-outline-dark p-3 mt-4"><strong>Dowiedz się więcej</strong></button>
            </div>
          </div>
        </div>
      </div>-->
      <div class="col-md-6 mb-4">
        <div class="card border p-4 rounded bg-white shadow-sm">
          <div class="card-header bg-white">
            <h3 class="text-start"><strong>Cold mailing</strong></h3>
          </div>
          <p class="card-body lead text-muted text-start fs-4 py-4">
            Efektywnie pozyskuj nowych klientów, wysyłając spersonalizowane wiadomości e-mail. Buduj relacje, wzbudzaj zainteresowanie ofertą i generuj wartościowe leady.
          </p>
          <div class="card-footer bg-white">
            <div class="text-start">
              <button type="button" class="btn btn-outline-dark p-3 mt-4" (click)="goToColdMailing()"><strong>Dowiedz się więcej</strong></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card border p-4 rounded bg-white shadow-sm h-100">
          <div class="card-header bg-white">
            <h3 class="text-start"><strong>Automatyzacja linkedin</strong></h3>
          </div>
          <p class="card-body lead text-muted text-start fs-4 py-4 ">
            Rozwijaj swoją sieć kontaktów i docieraj do potencjalnych klientów na LinkedIn.
            Automatyzacja wspiera generowanie leadów i zwiększa zasięg działań.
          </p>
          <div class="card-footer bg-white">
            <div class="text-start">
              <button type="button" class="btn btn-outline-dark p-3 mt-4" (click)="goToLinkedinAutomatization()"><strong>Dowiedz się więcej</strong></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Our numbers -->

<section id="ourNumbers" class=" py-5">
  <div class="container">
    <h2 class="h1 text-lg-center mt-0 mb-5">Bo naszym celem jest Twój sukces!</h2>
    <div class="row text-center">
      <div class="col-md-4 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm h-100">
          <h3 class="display-4 "><strong>300+</strong></h3>
          <p class="lead text-muted"><strong>Zrealizowanych kampanii</strong></p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm">
          <h3 class="display-4 "><strong>60 mln</strong></h3>
          <p class="lead text-muted"><strong>Wzrostu przychodu w rok, dla naszych parnterów</strong></p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm">
          <h3 class="display-4 "><strong>14 krajów</strong></h3>
          <p class="lead text-muted"><strong>Europy, w których zrealizowaliśmy kampanie</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Clients-->

<section class="p-4">
  <div class="container">
    <h2 class="h1 text-lg-center mb-5">Zaufali nam</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4  rounded p-4 bg-white">
      <div class="col d-flex align-items-center justify-content-center logo-item">
        <div>          
          <img src="content/images/png/argentumevent.png" alt="Argentum Event" loading="lazy" />
        </div>
      </div>
      <div class="col d-flex align-items-center justify-content-center logo-item">
        <div>
          <img src="content/images/png/pragmago-logo.png" alt="Pragma GO" loading="lazy" />
        </div>
      </div>
      <div class="col d-flex align-items-center justify-content-center logo-item">
        <div>
          <img src="content/images/png/vendorise.png" alt="Vendorise" loading="lazy" class="img-fluid" width="210" height="210" />
        </div>
      </div>
      <div class="col d-flex align-items-center justify-content-center logo-item">
        <div>
          <img src="content/images/png/personalservice2.png" alt="Personal Service" loading="lazy" width="300" height="148" />
        </div>
      </div>
    </div>
  </div>
</section>


