<section class="py-5">
  <div class="container">
    <h1 class="text-center">Formularz kontaktowy</h1>
    <div class="mt-5">
      <form [formGroup]="contactForm" novalidate>
        <div class="form-floating">
          <input type="text" id="name" class="form-control fs-4 mb-3" placeholder="Imię" formControlName="name" required />
          <label for="name" class="form-label fs-5">Imię</label>
        </div>
        <div class="form-floating">
          <input type="text" id="lastName" class="form-control fs-4 mb-3" placeholder="Nazwisko (opcjonalnie)" formControlName="lastName" />
          <label for="lastName" class="form-label fs-5">Nazwisko (opcjonalnie)</label>
        </div>
        <div class="form-floating">
          <input type="text" id="establishment" class="form-control fs-4 mb-3" placeholder="Nazwa firmy" formControlName="establishment" required />
          <label for="establishment" class="form-label fs-5">Nazwa firmy</label>
        </div>
        <div class="form-floating">
          <input type="text" id="nipNumber" class="form-control fs-4 mb-3" placeholder="NIP" formControlName="nipNumber" required />
          <label for="nipNumber" class="form-label fs-5">NIP</label>
        </div>
        <div class="form-floating">
          <input type="email" id="email" class="form-control fs-4 mb-3" placeholder="E-mail" formControlName="email" required />
          <label for="email" class="form-label fs-5">E-mail</label>
        </div>
        <div class="form-floating">
          <input type="tel" id="telNumber" class="form-control fs-4 mb-3" placeholder="Telefon" formControlName="telNumber" />
          <label for="telNumber" class="form-label fs-5">Telefon (opcjonalnie)</label>
        </div>
        <div class="form-floating fs-5">
          <textarea id="message" class="form-control fs-4 mb-3" placeholder="Wiadomość" formControlName="message" required></textarea>
          <label for="message" class="form-label">Wiadomość</label>
        </div>
        <div class="mb-3">
          <input type="checkbox" id="politicy" class="form-check-input me-2" formControlName="politicy" required />
          <label for="politicy" class="form-check-label">Akceptuję politykę prywatności</label>
        </div>
        <div>
          <button type="button" class="btn btn-outline-dark" (click)="sendForm()"><strong>Wyślij wiadomość</strong></button>
        </div>
      </form>
    </div>
  </div>
</section>
