<section id="welcome">
  <div class="bg-image">
    <div class="container h-100">
      <div class="row h-100">
        <div class=" text-center d-flex flex-column align-items-center justify-content-center">
          <div class="pb-5">
            <img src="content/images/png/logo-black.png" alt="Logo" class="dyntro-logo img-fluid mb-3" />
            <h4 class="text-dark fs-3 pb-3">Sukces można zaplanować.</h4>
          </div>
          <div>
            <h4 class="text-dark fs-3"><strong>Generujemy wartościowe leady B2B</strong></h4>
            <p class="fs-4 text-center py-2 text-content">
              Specjalizujemy się w pozyskiwaniu klientów B2B dla firm, korzystając z nowoczesnych narzędzi, baz danych oraz wiedzy opartej na realizacji ponad 300 kampanii.
            </p>
            <button type="button" id="btn_contact" (click)="goToContact()" class="btn btn-dark fs-5 mt-3">
              <strong>Kontakt</strong>
            </button>
          </div>      
        </div>      
      </div>
    </div>
  </div>
</section>
