<!-- About us section -->
<section id="aboutUs" class="py-5">
  <div class="container">
    <h1 class="h2 text-center mb-4">Poznaj nas lepiej!</h1>
    <div class="row align-items-center">
      <div class="col-md-6">
        <p class="fs-4 lh-lg text-justify">
          Jesteśmy firmą działającą od ponad 3 lat na rynku.
          W Dyntro wspieramy firmy B2B w skutecznym pozyskiwaniu nowych klientów poprzez automatyzację kluczowych procesów sprzedażowych.
          Nasze działania są w pełni spersonalizowane, co pozwala nie tylko oszczędzać czas naszych klientów, ale przede wszystkim
          maksymalizować ich wyniki sprzedażowe. Działamy globalnie, dostosowując nasze rozwiązania do specyficznych potrzeb i celów biznesowych.
        </p>
      </div>
      <div class="col-md-6">
        <img src="content/images/png/600x350.png"  class="img-fluid rounded" alt="About us" loading="lazy" />
      </div>
    </div>
  </div>
</section>

<section class="p-5">
  <div class="container">
    <h1 class="h2 text-center">Nasz zespół</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 py-5">
      <div class="col mb-4">
        <img src="content/images/png/350x365.png" width="350" height="365" class="img-fluid" loading="lazy" />
        <h3 >Mateusz Ostrowski</h3>
        <h4 class="pb-2">CEO</h4>
        <p class="fs-5 lead">Wielbiciel szybkich samochodów i spalonej gumy, reflektuje krótkie spotkania, a nie długie spacery. Zainteresowany kobitkami jak i mężami stanu.</p>
      </div>
      <div class="col mb-4">
        <img src="content/images/png/350x365.png" width="350" height="365" class="img-fluid" loading="lazy" />
        <h3 >Bartosz Jeziorny</h3>
        <h4 class="pb-2">Business Development</h4>
        <p class="fs-5 lead">Wielbiciel szybkich samochodów i spalonej gumy, reflektuje krótkie spotkania, a nie długie spacery. Zainteresowany kobitkami jak i mężami stanu.</p>
      </div>
      <div class="col mb-4">
        <img src="content/images/png/350x365.png" width="350" height="365" class="img-fluid" loading="lazy" />
        <h3>Jakub Peszko</h3>
        <h4 class="pb-2">Straszak</h4>
        <p class="fs-5 lead">Wielbiciel szybkich samochodów i spalonej gumy, reflektuje krótkie spotkania, a nie długie spacery. Zainteresowany kobitkami jak i mężami stanu.</p>
      </div>
      <div class="col mb-4">
        <img src="content/images/png/350x365.png" width="350" height="365" class="img-fluid" loading="lazy" />
        <h3>Mateusz Peszko</h3>
        <h4 class="pb-2">Ziutek</h4>
        <p class="fs-5 lead"></p>
      </div>
    </div>
  </div>
</section>

