<!-- About us section -->
<section id="aboutUs" class="py-5 ">
  <div class="container">
    <div class="text-center py-5">
      <img src="content/images/png/logo-black.png" alt="Logo" loading="lazy" width="300" class="mb-4">
      <h2 class="mt-3">Sukces można zaplanować.</h2>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h2 class="card-title text-center">Trochę o nas</h2>
            <p class="card-text fs-5 pt-2">
              W DYNTRO specjalizujemy się w generowaniu leadów dla firm B2B, automatyzując początkowe procesy sprzedażowe.
              Naszym celem jest wspieranie przedsiębiorstw w pozyskiwaniu nowych klientów poprzez efektywne kampanie cold mailingowe oraz działania na LinkedIn.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h2 class="card-title text-center">Nasza misja</h2>
            <p class="card-text fs-5 pt-2">
              Dążymy do tego, aby nasi klienci mogli skupić się na rozwoju swojego biznesu, podczas gdy my dostarczamy im wartościowe kontakty biznesowe.
              Dzięki spersonalizowanym i efektywnym kampaniom pomagamy oszczędzać czas i maksymalizować wyniki sprzedażowe.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="experience" class="py-5">
  <div class="container">
    <h1 class="h2 text-center mb-5">Dlaczego warto nam zaufać?</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
      <div class="col">
        <div class="d-flex flex-column align-items-center">
          <img src="content/images/svg/briefcase-fill.svg" alt="Person check" width="24" height="24" />
          <h3 class="mt-3">Doświadczenie</h3>
          <p>Posiadamy ponad trzyletnie doświadczenie w prowadzeniu kampanii sprzedażowych na różnych rynkach.</p>
        </div>
      </div>
      <div class="col">
        <div class="d-flex flex-column align-items-center">
          <img src="content/images/svg/person-check-fill.svg" alt="Person check" width="24" height="24" />
          <h3 class="mt-3">Profesjonalizm</h3>
          <p>Stawiamy na dokładność, transparentność i skuteczną komunikację z klientami.</p>
        </div>
      </div>
      <div class="col">
        <div class="d-flex flex-column align-items-center">
          <img src="content/images/svg/lightbulb-fill.svg" alt="Lightbulb" width="24" height="24" />
          <h3 class="mt-3">Innowacyjność</h3>
          <p>Stale poszukujemy nowych rozwiązań, aby oferować najskuteczniejsze metody generowania leadów.</p>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="p-5">
  <div class="container">
    <h1 class="h2 text-center">Nasz zespół</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 py-5">
      <div class="col mb-4">
        <img src="content/images/png/350x365.png" width="350" height="365" class="img-fluid" loading="lazy" />
        <h3>Mateusz Ostrowski</h3>
        <h4 class="pb-2 fs-5 text-muted">CEO</h4>
      </div>
      <div class="col mb-4">
        <img src="content/images/png/350x365.png" width="350" height="365" class="img-fluid" loading="lazy" />
        <h3>Bartosz Jeziorny</h3>
        <h4 class="pb-2 fs-5 text-muted">Business Development Specialist</h4>
      </div>
      <div class="col mb-4">
        <img src="content/images/png/350x365.png" width="350" height="365" class="img-fluid" loading="lazy" />
        <h3>Jakub Peszko</h3>
        <h4 class="pb-2 fs-5 text-muted">Data Enrichment Specialist</h4>
      </div>
      <div class="col mb-4">
        <img src="content/images/png/350x365.png" width="350" height="365" class="img-fluid" loading="lazy" />
        <h3>Mateusz Peszko</h3>
        <h4 class="pb-2 fs-5 text-muted">Campaign Optimization Specialist</h4>
      </div>
    </div>
  </div>
</section>

<!--Numbers-->


<section id="ourNumbers" class=" py-5">
  <div class="container">
    <h2 class="h1 text-center mt-0 mb-5">Bo naszym celem jest Twój sukces!</h2>
    <div class="row text-center">
      <div class="col-md-6 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm h-100">
          <h3 class="display-5 "><strong>300+</strong></h3>
          <p class="lead text-muted"><strong>Zrealizowanych kampanii</strong></p>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm">
          <h3 class="display-5 "><strong>60 mln</strong></h3>
          <p class="lead text-muted"><strong>Wzrostu przychodu w rok, dla naszych parnterów</strong></p>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm h-100">
          <h3 class="display-5 "><strong>14 państw</strong></h3>
          <p class="lead text-muted"><strong>Europy,w których zrealizowaliśmy kampanie</strong></p>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm">
          <h3 class="display-5 "><strong>3 lata doświadczenia</strong></h3>
          <p class="lead text-muted"><strong>60 milionów przychodu generowanego przez nasze działania dla jednego z klientów, w rok.</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Clients-->

<section class="p-4">
  <div class="container">
    <h2 class="h1 text-lg-center mb-5">Zaufali nam</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4  rounded pb-4 bg-white">
      <div class="col d-flex align-items-center justify-content-center logo-item">
        <div>
          <a routerLink="/client-argentum-event">
            <img src="content/images/png/argentumevent.png" alt="Argentum Event" loading="lazy" />
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-center justify-content-center logo-item">
        <div>
          <a routerLink="/client-pragma-go">
            <img src="content/images/png/pragmago-logo.png" alt="Pragma GO" loading="lazy" />
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-center justify-content-center logo-item">
        <div>
          <a routerLink="/client-vendorise">
            <img src="content/images/png/vendorise.png" alt="Vendorise" loading="lazy" class="img-fluid" width="210" height="210" />
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-center justify-content-center logo-item">
        <div>
          <a routerLink="/client-personnel-service">
            <img src="content/images/png/personalservice2.png" alt="Personal Service" loading="lazy" width="300" height="148" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
