<!-- About us section -->
<!-- DO WYRZUCNIA DO OSOBNEGO COMPONENTU -->
<section id="aboutUs" class="py-5 bg-light">
  <div class="container">
    <h2 class="h1 text-uppercase text-center mb-0">O nas</h2>
    <div class="justify-content-center">
      <div class="mt-5 rounded p-4 bg-white ">
        <p class="fs-4 lh-lg text-justify p-3">
          Jesteśmy firmą działającą od ponad 3 lat na rynku.
          W Dyntro wspieramy firmy B2B w skutecznym pozyskiwaniu nowych klientów poprzez automatyzację kluczowych procesów sprzedażowych.
          Nasze działania są w pełni spersonalizowane, co pozwala nie tylko oszczędzać czas naszych klientów, ale przede wszystkim
          maksymalizować ich wyniki sprzedażowe. Działamy na skalę globalną, wspierając rozwój firm na każdym etapie ich działalności, dostosowując nasze rozwiązania do specyficznych potrzeb i celów biznesowych.
          Dzięki Dyntro nasi klienci mogą skupić się na strategii, podczas gdy my dostarczamy mierzalne efekty w pozyskiwaniu nowych możliwości biznesowych.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="aboutUs" class="py-5 bg-white">
  <div class="container">
    <h2 class="h1 text-uppercase text-center mb-0">O nas</h2>
    <div class="justify-content-center">
      <div class="mt-5 rounded p-4 bg-white ">
        <p class="fs-4 lh-lg text-justify p-3">
          Jesteśmy firmą działającą od ponad 3 lat na rynku.
          W Dyntro wspieramy firmy B2B w skutecznym pozyskiwaniu nowych klientów poprzez automatyzację kluczowych procesów sprzedażowych.
          Nasze działania są w pełni spersonalizowane, co pozwala nie tylko oszczędzać czas naszych klientów, ale przede wszystkim
          maksymalizować ich wyniki sprzedażowe. Działamy na skalę globalną, wspierając rozwój firm na każdym etapie ich działalności, dostosowując nasze rozwiązania do specyficznych potrzeb i celów biznesowych.
          Dzięki Dyntro nasi klienci mogą skupić się na strategii, podczas gdy my dostarczamy mierzalne efekty w pozyskiwaniu nowych możliwości biznesowych.
        </p>
      </div>
    </div>
  </div>
</section>
