t<!-- About us section -->
<section id="aboutUs" class="py-5 ">
  <div class="container">
    <div class="text-center py-5">
      <img src="content/images/png/logo-black.png" alt="Logo" loading="lazy" width="300" class="mb-4">
      <h2 class="mt-3">Sukces można zaplanować.</h2>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h2 class="card-title text-center">Trochę o nas</h2>
            <p class="card-text fs-5 pt-2">
              W <strong>DYNTRO</strong>specjalizujemy się w generowaniu leadów dla firm B2B, automatyzując początkowe etapy procesu sprzedaży.
              Pomagamy przedsiębiorstwom w pozyskiwaniu nowych klientów poprzez skuteczne kampanie cold mailingowe oraz działania na LinkedInie.
              Naszym celem jest dostarczanie mierzalnych efektów i realnego wsparcia w skalowaniu sprzedaży.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h2 class="card-title text-center">Nasza misja</h2>
            <p class="card-text fs-5 pt-2">
              Naszą misją jest dostarczanie wartościowych kontaktów, aby nasi klienci mogli skupić się na rozwoju swojego biznesu.
              Pomagamy oszczędzać czas i maksymalizować sprzedaż, dzięki skutecznym, spersonalizowanym kampaniom.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  

<section id="experience" class="py-5">
  <div class="container">
    <h1 class="h2 text-center mb-5">Dlaczego warto nam zaufać?</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
      <div class="col">
        <div class="d-flex flex-column align-items-center">
          <img src="content/images/svg/briefcase-fill.svg" alt="Person check" width="24" height="24" />
          <h3 class="mt-3">Doświadczenie</h3>
          <p>Mamy ponad czteroletnie doświadczenie w prowadzeniu kampanii sprzedażowych na różnych rynkach.</p>
        </div>
      </div>
      <div class="col">
        <div class="d-flex flex-column align-items-center">
          <img src="content/images/svg/person-check-fill.svg" alt="Person check" width="24" height="24" />
          <h3 class="mt-3">Profesjonalizm</h3>
          <p>Stawiamy na dokładność, przejrzystość i skuteczną komunikację z klientami.</p>
        </div>
      </div>
      <div class="col">
        <div class="d-flex flex-column align-items-center">
          <img src="content/images/svg/lightbulb-fill.svg" alt="Lightbulb" width="24" height="24" />
          <h3 class="mt-3">Innowacyjność</h3>
          <p>Stale szukamy nowych rozwiązań, by oferować najskuteczniejsze sposoby pozyskiwania leadów.</p>
        </div>
      </div>
    </div>
  </div>
</section>





<!--Numbers-->


<section id="ourNumbers" class=" py-5">
  <div class="container">
    <h2 class="h1 text-center mt-0 mb-5">Bo naszym celem jest Twój sukces!</h2>
    <div class="row text-center">
      <div class="col-md-6 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm h-100">
          <h3 class="display-5 "><strong>500+</strong></h3>
          <p class="lead text-muted"><strong>Zrealizowanych kampanii</strong></p>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm">
          <h3 class="display-5 "><strong>60 mln</strong></h3>
          <p class="lead text-muted"><strong>Wzrostu przychodu w ciągu roku u jednego z naszych partnerów</strong></p>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm h-100">
          <h3 class="display-5 "><strong>14 państw</strong></h3>
          <p class="lead text-muted"><strong>Europy,w których zrealizowaliśmy kampanie</strong></p>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm">
          <h3 class="display-5 "><strong>4 lata </strong></h3>
          <p class="lead text-muted"><strong>doświadczenia</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Clients-->

<app-section-clients-rollbar></app-section-clients-rollbar>
