<section class="p-5">
  <div class="container">
    <div>
      <h4 class="text-uppercase fs-5 fw-bold"><span class="text-primary">Cold</span> email</h4>
      <h1 class="h2">Generowanie leadów za pomocą kampanii cold mailingowych</h1>
      <p class="fs-5 py-2">Rozwijaj swoją działalność dzięki precyzyjnie zaplanowanym kampaniom mailowym, które przynoszą rzeczywiste wyniki sprzedażowe.</p>
    </div>
  </div>
</section>

<section class="p-5 py-3 pb-0">
  <div class="container">
    <h1 class="h2 text-uppercase text-lg-center mb-5">Jak to robimy?</h1>
    <div class="row text-center pb-5">
      <div class="col-md-4 mb-4">
        <div class="card border p-3 rounded bg-white shadow-sm h-100 ">
          <div class="card-header bg-white">
            <h3 class="text-start fw-bold text-muted display-4 opacity-25">01</h3>
          </div>
          <p class="card-body lead  fs-4 text-start py-4">
            Rozpoczniemy od analizy rynku, który Cię interesuje, a następnie przygotujemy bazę kontaktów. Oczywiście przekażemy ją Tobie do weryfikacji.
          </p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card border p-3 rounded bg-white shadow-sm h-100">
          <div class="card-header bg-white">
            <h3 class="text-start fw-bold text-muted display-4 opacity-25">02</h3>
          </div>
          <p class="card-body lead text-start fs-4 py-4">
            Przygotujemy kilka wiadomości e-mail na podstawie Twoich wytycznych oraz naszego doświadczenia. Wiadomości te również przekażemy do Twojej weryfikacji.
          </p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card border p-3 rounded bg-white shadow-sm h-100">
          <div class="card-header bg-white">
            <h3 class="text-start fw-bold text-muted display-4 opacity-25">03</h3>
          </div>
          <p class="card-body lead text-start fs-4 py-4">
            Następnie przejdziemy do konfiguracji systemu wysyłki wiadomości. Po jej zakończeniu to my zajmiemy się optymalizacją kampanii, a Ty skupisz się na rozmowach z potencjalnymi klientami.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-5 bg- ">
  <div class="container">
    <h1 class="h2 text-upperace text-lg-center mb-5">Najczęściej zadawane pytania (FAQ)</h1>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-11 col-xl-9 col-xxl-8">
        <div class="accordion" id="faq">
          <div class="accordion-item">
            <h3 id="naglowek-1" class="accordion-header">
              <button type="button" class="accordion-button text-bg-light fs-5" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-controls="collapse-1" aria-expanded="true">
                Czy Cold Mailing to spam?
              </button>
            </h3>
            <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="naglowek-1" data-bs-parent="#faq">
              <div class="accordion-body">
                <p class="fs-5">Nie, cold mailing to nie spam. Nasze wiadomości są tak dobrze zaprojektowane, że trudno je odróżnić od zwykłych e-maili, zarówno przez ludzi, jak i systemy antyspamowe.</p>
                <p class="mb-0 fs-5">Zanim rozpoczniemy kampanię, sprawdzamy stan Twojej skrzynki i domeny. Jeśli są w dobrej kondycji, dbamy o ich utrzymanie, a jeśli wymagają poprawy – podejmujemy działania naprawcze.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 id="naglowek-2" class="accordion-header">
              <button type="button" class="accordion-button collapsed text-bg-light fs-5" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-controls="collapse-2" aria-expanded="false">
                Czy Cold Mailing to, to samo co Mass Mailing?
              </button>
            </h3>
            <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="naglowek-2" data-bs-parent="#faq">
              <div class="accordion-body">
                <p class="fs-5 mb-0">
                  Nie, są to kompletnie dwa różne podejścia.
                  W Mass Mailingu strzela się w niebo z nadzieją, że trafimy w tarczę.
                  W Cold Mailingu strzelamy prosto w tarcze.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 id="naglowek-3" class="accordion-header">
              <button type="button" class="accordion-button collapsed text-bg-light fs-5" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-controls="collapse-3" aria-expanded="false">
                Czy kampanię możemy rozłożyć na więcej niż jednego handlowca?
              </button>
            </h3>
            <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="naglowek-3" data-bs-parent="#faq">
              <div class="accordion-body">
                <p class="mb-0 fs-5">Tak, możemy rozłożyć jedną kampanię na cały zespół sprzedaży.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 id="naglowek-4" class="accordion-header">
              <button type="button" class="accordion-button collapsed text-bg-light fs-5 " data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-controls="collapse-4" aria-expanded="false">Ile trwa współpraca?</button>
            </h3>
            <div id="collapse-4" class="accordion-collapse collapse" aria-labelledby="naglowek-4" data-bs-parent="#faq">
              <div class="accordion-body">
                <p class="mb-0 fs-5">Najkrótszy okres czasu wynosi 30 dni.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 id="naglowek-5" class="accordion-header">
              <button type="button" class="accordion-button collapsed text-bg-light fs-5" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-controls="collapse-5" aria-expanded="false">Kto będzie nadawcą wiadomości?</button>
            </h3>
            <div id="collapse-5" class="accordion-collapse collapse" aria-labelledby="naglowek-5" data-bs-parent="#faq">
              <div class="accordion-body">
                <p class="mb-0 fs-5">Dowolna wskazana przez ciebie osoba w Twojej firmie.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section  class="p-5 py-3 rounded ">
  <div class="container rounded  p-4">
    <div class="row">
      <div class="col-md-6 text-center text-md-start mb-4 mb-md-0">
        <h2 class="h4">Nie znalazłeś/aś odpowiedzi na Twoje pytanie?</h2>
        <h3 class="h5">Skontaktuj się z naszym zespołem.</h3>
      </div>
      <div class="col-md-6 text-center text-md-end text-center">
        <a href="/contact" class="btn btn-lg btn-dark">Napisz do nas</a>
      </div>
    </div>
  </div>  
</section>

