<!--Intro-->

<section class="p-5">
  <div class="container">
    <div>
      <h4 class="text-uppercase fs-5 fw-bold"><span class="text-primary">Cold</span> mailing</h4>
      <h1 class="h2">Pozyskuj leady dzięki kampaniom cold mailingowym</h1>
      <p class="fs-5 py-2">Rozwijaj swoją działalność dzięki precyzyjnie zaplanowanej komunikacji mailowej, która przynosi realne efekty sprzedażowe.</p>
    </div>
  </div>
</section>

<!--Benefits-->


<section class="p-5">
  <div class="container">
    <h1 class="h2 text-lg-center mb-5">Odkrywaj nowe rynki i rozwijaj obecne. Pozyskuj klientów dzięki kampaniom mailowym, które realnie wpływają na wyniki sprzedaży.</h1>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4 ">
        <div class="card border p-3 h-100">
          <div class="card-header bg-white text-center">
            <img src="content/images/svg/bar-chart.svg" width="24" height="24" class="mb-3" />
            <h3 class="text-muted fs-4">Zwiększenie zysków</h3>
          </div>
          <div class="card-body">
            <p class="fs-5">Cold mailing otwiera przed Twoją firmą nowe możliwości dotarcia do klientów. Pomaga zwiększyć liczbę leadów, generować sprzedaż i bezpośrednio wpływa na wzrost zysków.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card border p-3">
          <div class="card-header bg-white text-center">
            <img src="content/images/svg/person-plus-fill.svg" width="24" height="24" class="mb-3" />
            <h3 class="text-muted fs-4">Oszczędność czasu</h3>
          </div>
          <div class="card-body">
            <p class="fs-5">Współpraca z nami to gwarancja oszczędności czasu. Potrzebujemy od Ciebie jedynie kluczowych informacji – resztą zajmiemy się za Ciebie. Otrzymasz gotowe, zainteresowane kontakty, które z łatwością przekujesz w sprzedaż.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card border p-3 h-100">
          <div class="card-header bg-white text-center">
            <img src="content/images/svg/graph-up-arrow.svg" width="24" height="24" class="mb-3" />
            <h3 class="text-muted fs-4">Zwiększenie świadomości marki</h3>
          </div>
          <div class="card-body">
            <p class="fs-5">Kampanie cold mailingowe zwiększają widoczność Twojej marki, pomagają budować relacje z potencjalnymi klientami i wzmacniają jej pozycję na rynku.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Inforamtion-->

<section class="pb-5">
  <div class="container">
    <h1 class="h2 text-center mb-5">Jak to robimy?</h1>
    <div class="row text-center gy-4">
      <!-- Step 1 -->
      <div class="col-md-4">
        <div class="card shadow-sm border-1 h-100">
          <div class="card-body p-4">
            <div class="bg-primary text-white rounded-circle mx-auto mb-4 d-flex align-items-center justify-content-center">
              <span class="fs-3 fw-bold">01</span>
            </div>
            <h3 class="fs-5 fw-bold">Poznanie Twoich potrzeb</h3>
            <p class="mt-3">Rozpoczynamy od analizy Twoich celów i potrzeb, aby stworzyć plan idealnie dopasowany do Twojej firmy.</p>
          </div>
        </div>
      </div>
      <!-- Step 2 -->
      <div class="col-md-4">
        <div class="card shadow-sm border-1 h-100">
          <div class="card-body p-4">
            <div class="bg-primary text-white rounded-circle mx-auto mb-4 d-flex align-items-center justify-content-center">
              <span class="fs-3 fw-bold">02</span>
            </div>
            <h3 class="fs-5 fw-bold">Strategia działania</h3>
            <p class="mt-3">Projektujemy plan kampanii, uwzględniając grupę docelową, specyfikę branży i oczekiwane rezultaty.</p>
          </div>
        </div>
      </div>
      <!-- Step 3 -->
      <div class="col-md-4">
        <div class="card shadow-sm border-1 h-100">
          <div class="card-body p-4">
            <div class="bg-primary text-white rounded-circle mx-auto mb-4 d-flex align-items-center justify-content-center">
              <span class="fs-3 fw-bold">03</span>
            </div>
            <h3 class="fs-5 fw-bold">Dobór potencjalnych klientów</h3>
            <p class="mt-3">Tworzymy bazę firm i kontaktów, które najlepiej odpowiadają Twoim potrzebom i celom.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center gy-4 mt-4">
      <!-- Step 4 -->
      <div class="col-md-4">
        <div class="card shadow-sm border-1 h-100">
          <div class="card-body p-4">
            <div class="bg-primary text-white rounded-circle mx-auto mb-4 d-flex align-items-center justify-content-center">
              <span class="fs-3 fw-bold">04</span>
            </div>
            <h3 class="fs-5 fw-bold">Przygotowanie kampanii</h3>
            <p class="mt-3">Opracowujemy treści wiadomości i konfigurujemy proces komunikacji, aby przyciągnąć uwagę potencjalnych klientów.Opracowujemy treści wiadomości i konfigurujemy proces komunikacji, aby przyciągnąć uwagę potencjalnych klientów.</p>
          </div>
        </div>
      </div>
      <!-- Step 5 -->
      <div class="col-md-4">
        <div class="card shadow-sm border-1 h-100">
          <div class="card-body p-4">
            <div class="bg-primary text-white rounded-circle mx-auto mb-4 d-flex align-items-center justify-content-center" >
              <span class="fs-3 fw-bold">05</span>
            </div>
            <h3 class="fs-5 fw-bold">Uruchomienie kampanii</h3>
            <p class="mt-3">Realizujemy wysyłkę wiadomości w sposób zoptymalizowany pod kątem skuteczności i zgodny z przepisami prawnymi.</p>
          </div>
        </div>
      </div>
      <!-- Step 6 -->
      <div class="col-md-4">
        <div class="card shadow-sm border-1 h-100">
          <div class="card-body p-4">
            <div class="bg-primary text-white rounded-circle mx-auto mb-4 d-flex align-items-center justify-content-center" >
              <span class="fs-3 fw-bold">06</span>
            </div>
            <h3 class="fs-5 fw-bold">Analiza wyników i optymalizacja</h3>
            <p class="mt-3">Monitorujemy przebieg kampanii i w razie potrzeby wprowadzamy usprawnienia, aby zmaksymalizować efektywność działań.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="p-3">
  <div class="container">
    <h1 class="h2 text-upperace text-lg-center mb-5">Odpowiedzi na twoje wątpliwości</h1>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-11 col-xl-9 col-xxl-8">
        <div class="accordion" id="faq">
          <div class="accordion-item">
            <h3 id="naglowek-1" class="accordion-header">
              <button type="button" class="accordion-button text-bg-light fs-5" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-controls="collapse-1" aria-expanded="true">
                Czy kampanie mailowe to spam?
              </button>
            </h3>
            <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="naglowek-1" data-bs-parent="#faq">
              <div class="accordion-body">
                <p class="fs-5">Nasze wiadomości są starannie przygotowywane, by przypominały naturalną korespondencję – zarówno dla odbiorców, jak i dla systemów antyspamowych.</p>
                <p class="mb-0 fs-5">Przed rozpoczęciem kampanii dokładnie analizujemy stan Twojej skrzynki i domeny. Jeśli wszystko działa prawidłowo, dbamy o utrzymanie ich sprawności. W przypadku wykrycia problemów, podejmujemy odpowiednie działania, aby je naprawić.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 id="naglowek-2" class="accordion-header">
              <button type="button" class="accordion-button collapsed text-bg-light fs-5" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-controls="collapse-2" aria-expanded="false">
                Czy mogą Państwo pomóc w dotarciu do klientów z mojej bazy kontaktów?
              </button>
            </h3>
            <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="naglowek-2" data-bs-parent="#faq">
              <div class="accordion-body">
                <p class="fs-5 mb-0">
                  Tak, możemy zrealizować kampanię, korzystając tylko z Twojej bazy lub łącząc ją z naszą – stworzoną według Twoich wytycznych
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 id="naglowek-3" class="accordion-header">
              <button type="button" class="accordion-button collapsed text-bg-light fs-5" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-controls="collapse-3" aria-expanded="false">
                Czy istnieje możliwość zamówienia jedynie bazy kontaktów?
              </button>
            </h3>
            <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="naglowek-3" data-bs-parent="#faq">
              <div class="accordion-body">
                <p class="mb-0 fs-5">Tak, stworzymy dla Ciebie bazę kontaktów według twoich wytycznych.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 id="naglowek-4" class="accordion-header">
              <button type="button" class="accordion-button collapsed text-bg-light fs-5 " data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-controls="collapse-4" aria-expanded="false">
                Jaki jest koszt standardowej współpracy?
              </button>
            </h3>
            <div id="collapse-4" class="accordion-collapse collapse" aria-labelledby="naglowek-4" data-bs-parent="#faq">
              <div class="accordion-body">
                <p class="mb-0 fs-5">Koszt współpracy zaczyna się od 6000 zł – to mniej niż koszt zatrudnienia osoby do działań in-house. Unikasz też błędów i ryzyk związanych z RODO.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 id="naglowek-5" class="accordion-header">
              <button type="button" class="accordion-button collapsed text-bg-light fs-5" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-controls="collapse-5" aria-expanded="false">Kto będzie nadawcą wiadomości?</button>
            </h3>
            <div id="collapse-5" class="accordion-collapse collapse" aria-labelledby="naglowek-5" data-bs-parent="#faq">
              <div class="accordion-body">
                <p class="mb-0 fs-5">Każda osoba, którą wskażesz jako nadawcę w swojej firmie.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Numbers-->

<section id="ourNumbers" class=" py-5">
  <div class="container">
    <h2 class="h1 text-center mt-0 mb-5">Bo naszym celem jest Twój sukces!</h2>
    <div class="row text-center">
      <div class="col-md-6 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm h-100">
          <h3 class="display-5 "><strong>500+</strong></h3>
          <p class="lead text-muted"><strong>Zrealizowanych kampanii</strong></p>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm">
          <h3 class="display-5 "><strong>60 mln</strong></h3>
          <p class="lead text-muted"><strong>Wzrostu przychodu w ciągu roku u jednego z naszych partnerów</strong></p>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm h-100">
          <h3 class="display-5 "><strong>14 państw</strong></h3>
          <p class="lead text-muted"><strong>Europy,w których zrealizowaliśmy kampanie</strong></p>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm">
          <h3 class="display-5 "><strong>4 lata </strong></h3>
          <p class="lead text-muted"><strong>doświadczenia</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Clients-->

<app-section-clients-rollbar></app-section-clients-rollbar>

<!--More information-->

<section class="p-5 py-3 rounded ">
  <div class="container rounded  p-4">
    <div class="row">
      <div class="col-md-6 text-center text-md-start mb-4 mb-md-0">
        <h2 class="h4">Nie znalazłeś/aś odpowiedzi na Twoje pytanie?</h2>
        <h3 class="h5">Skontaktuj się z naszym zespołem.</h3>
      </div>
      <div class="col-md-6 text-center text-md-end text-center">
        <div class="d-flex align-items-center justify-content-center justify-content-md-end">
          <span class="btn-group">
            <button type="button" id="btn_contact" (click)="goToContact()" class="btn btn-outline-dark fs-5 mt-2 d-flex align-items-center">
              <img src="content/images/svg/poczta.svg" width="24" height="24" alt="Ikona poczty" class="me-2" />
              <strong>Napisz do nas</strong>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
