<section class="p-5">
  <div class="container">
    <div>
      <h4 class="text-uppercase fs-5 fw-bold"><span class="text-primary">LinkedIn</span> Social Selling</h4>
      <h1 class="h2">Pozysykiwanie klientów za pomocą automatyzacji LinkedIn</h1>
      <p class="fs-5 py-2">Rozwijaj swoją firmę dzięki LinkedIn, budując trwałe relacje i skutecznie przekształcając kontakty w klientów.</p>
    </div>
  </div>
</section>

<!--Benefits-->

<section class="p-5">
  <div class="container">
    <h1 class="h2 text-lg-center mb-5">Poszerzaj swoją sieć kontaktów i buduj relacje z klientami dzięki LinkedIn Social Selling.</h1>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card border p-3">
          <div class="card-header bg-white text-center">
            <img src="content/images/svg/eye.svg" width="24" height="24" class="mb-3" />
            <h3 class="text-muted fs-4">Zwiększenie widoczności na LinkedIn</h3>
          </div>
          <div class="card-body">
            <p class="fs-5">Regularne działania na LinkedIn sprawią, że Twoja firma zyska szerszy zasięg i większą widoczność wśród potencjalnych klientów, co pozwoli Ci skuteczniej dotrzeć do nowych odbiorców i wzmocnić swoją pozycję na rynku.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card border p-3 h-100">
          <div class="card-header bg-white text-center">
            <img src="content/images/svg/person-plus-fill.svg" width="24" height="24" class="mb-3" />
            <h3 class="text-muted fs-4">Zwiększenie liczby leadów oraz sprzedaży</h3>
          </div>
          <div class="card-body">
            <p class="fs-5">Skuteczna strategia social sellingu umożliwia pozyskiwanie jakościowych leadów, co prowadzi do wyższych konwersji, lepszych wyników sprzedażowych i szybkiego rozwoju Twojej firmy.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card border p-3 h-100">
          <div class="card-header bg-white text-center">
            <img src="content/images/svg/globe.svg" width="24" height="24" class="mb-3" />
            <h3 class="text-muted fs-4 pb-4">Oszczędność czasu</h3>
          </div>
          <div class="card-body">
            <p class="fs-5">
              Pozyskanie nowych kontaktów biznesowych„
              Wszystko dzieję się automatycznie, nie stracisz czasu na wyszukiwanie odpowiednich kontaktów, pisanie wiadomości i nawiązywanie kontaktów, my zrobimy to za Ciebie.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Inforamtion-->

<section class="pb-5">
  <div class="container">
    <h1 class="h2 text-center mb-5">Jak to robimy?</h1>
    <div class="row text-center gy-4">
      <!-- Step 1 -->
      <div class="col-md-4">
        <div class="card shadow-sm border-1 h-100">
          <div class="card-body p-4">
            <div class="bg-primary text-white rounded-circle mx-auto mb-4 d-flex align-items-center justify-content-center">
              <span class="fs-3 fw-bold">01</span>
            </div>
            <h3 class="fs-5 fw-bold">Zrozumienie Twoich potrzeb</h3>
            <p class="mt-3">Rozpoczynamy od rozmowy, podczas której analizujemy Twoje cele i potrzeby, aby stworzyć plan idealnie dopasowany do Twojej firmy.</p>
          </div>
        </div>
      </div>
      <!-- Step 2 -->
      <div class="col-md-4">
        <div class="card shadow-sm border-1 h-100">
          <div class="card-body p-4">
            <div class="bg-primary text-white rounded-circle mx-auto mb-4 d-flex align-items-center justify-content-center">
              <span class="fs-3 fw-bold">02</span>
            </div>
            <h3 class="fs-5 fw-bold">Tworzenie planu działania</h3>
            <p class="mt-3">Projektujemy plan kampanii, uwzględniając grupę docelową, specyfikę branży i oczekiwane rezultaty.</p>
          </div>
        </div>
      </div>
      <!-- Step 3 -->
      <div class="col-md-4">
        <div class="card shadow-sm border-1 h-100">
          <div class="card-body p-4">
            <div class="bg-primary text-white rounded-circle mx-auto mb-4 d-flex align-items-center justify-content-center">
              <span class="fs-3 fw-bold">03</span>
            </div>
            <h3 class="fs-5 fw-bold">Realizacja kampanii</h3>
            <p class="mt-3">Tworzymy bazę firm i kontaktów, które najlepiej odpowiadają Twoim wymaganiom i oczekiwaniom.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center gy-4 mt-4">
      <!-- Step 4 -->
      <div class="col-md-4">
        <div class="card shadow-sm border-1 h-100">
          <div class="card-body p-4">
            <div class="bg-primary text-white rounded-circle mx-auto mb-4 d-flex align-items-center justify-content-center">
              <span class="fs-3 fw-bold">04</span>
            </div>
            <h3 class="fs-5 fw-bold">Analiza i optymalizacja</h3>
            <p class="mt-3">Opracowujemy treści wiadomości i konfigurujemy proces komunikacji, aby przyciągnąć uwagę potencjalnych klientów.</p>
          </div>
        </div>
      </div>
      <!-- Step 5 -->
      <div class="col-md-4">
        <div class="card shadow-sm border-1 h-100">
          <div class="card-body p-4">
            <div class="bg-primary text-white rounded-circle mx-auto mb-4 d-flex align-items-center justify-content-center">
              <span class="fs-3 fw-bold">05</span>
            </div>
            <h3 class="fs-5 fw-bold">Raportowanie wyników</h3>
            <p class="mt-3 ">Regularnie dostarczamy raporty z wyników kampanii, abyś mógł śledzić postępy i efektywność działań.</p>
          </div>
        </div>
      </div>
      <!-- Step 6 -->
      <div class="col-md-4">
        <div class="card shadow-sm border-1 h-100">
          <div class="card-body p-4">
            <div class="bg-primary text-white rounded-circle mx-auto mb-4 d-flex align-items-center justify-content-center">
              <span class="fs-3 fw-bold">06</span>
            </div>
            <h3 class="fs-5 fw-bold">Kolejne kroki</h3>
            <p class="mt-3">Podsumowujemy twoje wyniki i wspólnie planujemy dalsze działania, które pomogą Ci osiągnąć jeszcze lepsze efekty dla twojej kampanii.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--FAQ-->

<section class="p-3">
  <div class="container">
    <h1 class="h2 text-upperace text-lg-center mb-5">Najczęściej zadawane pytania (FAQ)</h1>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-11 col-xl-9 col-xxl-8">
        <div class="accordion" id="faq">
          <div class="accordion-item">
            <h3 id="naglowek-1" class="accordion-header">
              <button type="button" class="accordion-button text-bg-light fs-5" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-controls="collapse-1" aria-expanded="true">
                Czy automatyzacja Linkedin jest bezpieczna?
              </button>
            </h3>
            <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="naglowek-1" data-bs-parent="#faq">
              <div class="accordion-body">
                <p class="mb-0 fs-5">
                  Tak, kampanie na platformie realizujemy imitując działania człowieka, zachowując przy tym bezpieczne odstępy miedzy działaniami.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 id="naglowek-2" class="accordion-header">
              <button type="button" class="accordion-button collapsed text-bg-light fs-5" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-controls="collapse-2" aria-expanded="false">
                Czy mogą Państwo pomóc w dotarciu do klientów z mojej bazy kontaktów?
              </button>
            </h3>
            <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="naglowek-2" data-bs-parent="#faq">
              <div class="accordion-body">
                <p class="fs-5 mb-0">
                  Tak, możemy zrealizować kampanie korzystając tylko z Twojej bazy lub łącząc ją z naszą, stworzoną według twoich wytycznych.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 id="naglowek-3" class="accordion-header">
              <button type="button" class="accordion-button collapsed text-bg-light fs-5" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-controls="collapse-3" aria-expanded="false">
                Mam wybraną grupę docelową w Sales Navigatorze, możemy do niej zrobić automatyzacje?
              </button>
            </h3>
            <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="naglowek-3" data-bs-parent="#faq">
              <div class="accordion-body">
                <p class="mb-0 fs-5">Jasne, nie ma problemu.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 id="naglowek-4" class="accordion-header">
              <button type="button" class="accordion-button collapsed text-bg-light fs-5 " data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-controls="collapse-4" aria-expanded="false">O ile jestem w stanie zwiększyć swoją sieć kontaktów w 30 dni?</button>
            </h3>
            <div id="collapse-4" class="accordion-collapse collapse" aria-labelledby="naglowek-4" data-bs-parent="#faq">
              <div class="accordion-body">
                <p class="mb-0 fs-5">Maksymalnie jesteśmy w stanie rozszerzyć tę liczbę o 1000 kontaków.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 id="naglowek-5" class="accordion-header">
              <button type="button" class="accordion-button collapsed text-bg-light fs-5 " data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-controls="collapse-5" aria-expanded="false">
                Czy muszę zakładać osobne konto do prowadzenia takiej kampanii?
              </button>
            </h3>
            <div id="collapse-5" class="accordion-collapse collapse" aria-labelledby="naglowek-5" data-bs-parent="#faq">
              <div class="accordion-body">
                <p class="mb-0 fs-5">Nie, wykorzystamy do tego Twoje lub dowolnie wskazanej przez Ciebie osoby w Twojej firmie.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Numbers-->


<section id="ourNumbers" class=" py-5">
  <div class="container">
    <h2 class="h1 text-center mt-0 mb-5">Bo naszym celem jest Twój sukces!</h2>
    <div class="row text-center">
      <div class="col-md-6 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm h-100">
          <h3 class="display-5 "><strong>300+</strong></h3>
          <p class="lead text-muted"><strong>Zrealizowanych kampanii</strong></p>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm">
          <h3 class="display-5 "><strong>60 mln</strong></h3>
          <p class="lead text-muted"><strong>Wzrostu przychodu w rok, dla naszych parnterów</strong></p>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm h-100">
          <h3 class="display-5 "><strong>14 państw</strong></h3>
          <p class="lead text-muted"><strong>Europy,w których zrealizowaliśmy kampanie</strong></p>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm">
          <h3 class="display-5 "><strong>3 lata doświadczenia</strong></h3>
          <p class="lead text-muted"><strong>60 milionów przychodu generowanego przez nasze działania dla jednego z klientów, w rok.</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Clients-->

<section class="p-4">
  <div class="container">
    <h2 class="h1 text-lg-center mb-5">Zaufali nam</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4  rounded pb-4 bg-white">
      <div class="col d-flex align-items-center justify-content-center logo-item">
        <div>
          <a routerLink="/commercial/client-argentum-event">
            <img src="content/images/png/argentumevent.png" alt="Argentum Event" loading="lazy" />
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-center justify-content-center logo-item">
        <div>
          <a routerLink="/commercial/client-pragma-go">
            <img src="content/images/png/pragmago-logo.png" alt="Pragma GO" loading="lazy" />
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-center justify-content-center logo-item mt-5 mt-md-0">
        <div>
          <a routerLink="/commercial/client-vendorise">
            <img src="content/images/png/vendorise.png" alt="Vendorise" loading="lazy" class="img-fluid" width="210" height="210" />
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-center justify-content-center logo-item mt-3 mt-md-0">
        <div>
          <a routerLink="/commercial/client-personnel-service">
            <img src="content/images/png/personalservice2.png" alt="Personal Service" loading="lazy" width="300" height="148" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Contact-->

<section class="p-5 py-3">
  <div class="container p-4">
    <div class="row">
      <div class="col-md-6 text-center text-md-start mb-4 mb-md-0">
        <h2 class="h4">Nie znalazłeś/aś odpowiedzi na Twoje pytanie?</h2>
        <h3 class="h5">Skontaktuj się z naszym zespołem.</h3>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <div class="d-flex align-items-center justify-content-center justify-content-md-end">
          <span class="btn-group">
            <button type="button" id="btn_contact" (click)="goToContact()" class="btn btn-outline-dark fs-5 mt-2 d-flex align-items-center">
              <img src="content/images/svg/poczta.svg" width="24" height="24" alt="Ikona poczty" class="me-2" />
              <strong>Napisz do nas</strong>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>


