<section class="py-5">
  <div class="container">
    <h4 class="text-uppercase text-success pb-3">Poznaj historie sukcesu naszego klienta</h4>
    <img src="../../content/images/png/pragmago-logo.png" alt="PragmaGo Logo" loading="lazy" />
  </div>
</section>

<section class="py-2">
  <div class="container"> 
    <div class="row justify-content-between">
      <div class="col-12 col-lg-6">
        <div class="">
          <h3 class="text-muted opacity-50">Branża</h3>
          <h3>...</h3>
          <h3 class="text-muted opacity-50">Usługa</h3>
          <h3>...</h3>
          <h3 class="text-muted opacity-50">Kraj</h3>
          <h3>...</h3>
          <h3 class="text-muted opacity-50">Grupa docelowa</h3>
          <h3>...</h3>
          <h3 class="text-muted opacity-50">Cel</h3>
          <h3>...</h3>
        </div>
      </div>
      <div class="col-12 col-lg-6 align-content-center">
        <h2 class=" pb-3 text-center">Nasza skuteczność</h2>
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h3 class="text-center">100%</h3>
                <p class="text-center text-uppercase fw-bold text-muted opacity-75">Czegoś tam</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body ">
                <h3 class="text-center">100%</h3>
                <p class="text-center text-uppercase fw-bold text-muted opacity-75">Czegoś tam</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body ">
                <h3 class="text-center">100%</h3>
                <p class="text-center text-uppercase fw-bold text-muted opacity-75">Czegoś tam</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</section>
<section class="py-5">
  <div class="container">
    <h2 class="text-center">Profil klienta</h2>
    <p class="py-3 fs-5">
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
      The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
    </p>
    <h2 class="text-center">Przebieg kampanii</h2>
    <p class="py-3 fs-5">
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
      The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
    </p>
    <h2 class="text-center">Efekty</h2>
    <p class="py-3 fs-5">
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
      The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
    </p>
  </div>
</section>
