<div class="container-fluid mt-4 px-5">
  <div class="table-responsive">
    <table *ngIf="orders" class="table table-hover fs-5">
      <thead class="table-border">
        <tr>
          <th class="text-start">
            <input type="checkbox" class="form-check-input bg-secondary border-dark shadow-none" id="idNumber">
          </th>
          <th class="text-start">ID</th>
          <th class="text-start">Status</th>
          <th class="text-start px-5">Temat</th>
          <th class="text-start px-5">Imię</th>
          <th class="text-start px-5">Nazwisko</th>
          <th class="text-start">Kategoria</th>
          <th class="text-start px-5">Priorytet</th>
          <th class="text-start ps-5">Data aktualizacji</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>
            <input type="checkbox" class="form-check-input bg-secondary border-dark shadow-none">
          </td>
          <td>{{order.id}}</td>
          <td>{{ OrderStatusNames[order.status] }}</td>

          <td class="text-start px-5">{{order.topic}}</td>
          <td class="text-start px-5">{{order.firstName}}</td>
          <td class="text-start px-5">{{order.lastName}}</td>
          <td>{{OrderCategoryNames[order.category]}}</td>
          <td class="text-start px-5">{{OrderPriorityNames[order.priority]}}</td>
          <td class="text-start ps-5">{{ order.date | date:'dd-MM-yyyy' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
