<section class="py-5">
  <div class="container">
    <h4 class="text-uppercase pb-3">Poznaj historie sukcesu naszego klienta</h4>
    <img src="../../content/images/png/argentumevent2.png" alt="Argenum Logo" loading="lazy" />
  </div>
</section>

<section class="py-2">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-lg-6">
        <div>
          <h3 class="text-muted opacity-50">Branża</h3>
          <h3 class="fs-4">Wielobranżowa</h3>
          <h3 class="text-muted opacity-50 pt-3">Usługa</h3>
          <h3 class="fs-4">Cold Mailing</h3>
          <h3 class="text-muted opacity-50 pt-3">Kraj</h3>
          <h3 class="fs-4">Polska</h3>
          <h3 class="text-muted opacity-50 pt-3">Grupa docelowa</h3>
          <h3 class="fs-4">Właściciel, C-Level, dział HR oraz Administracji</h3>       
        </div>
      </div>
      <div class="col-12 col-lg-6 align-content-center">
        <h2 class=" pb-3 text-center ">Nasza skuteczność</h2>
        <div class="row">
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h3 class="text-center">60%</h3>
                <p class="text-center text-uppercase fw-bold text-muted opacity-75">Otwartych Maili</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h3 class="text-center">55%</h3>
                <p class="text-center text-uppercase fw-bold text-muted opacity-75 ">Odpowiedzi</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body ">
                <h3 class="text-center">60</h3>
                <p class="text-center text-uppercase fw-bold text-muted opacity-75">Leadów miesięcznie</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h2 class="text-center">Profil klienta</h2>
    <p class="py-3 fs-5">
      Argentum Event jest to firma specjalizująca się w organizacji eventów, oferując kompleksową obsługę w zakresie planowania i realizacji wydarzeń. Argenutm zapewnia usługi związane z organizacją konferencji, szkoleń, eventów firmowych oraz imprez okolicznościowych. Dba o każdy detal, zapewniając profesjonalną obsługę i innowacyjne rozwiązania.
    </p>
  </div>
</section>
