<section class="p-4 overflow-hidden position-relative" style="background: #fff;">
  <div class="container">
    <h2 class="h1 text-lg-center mb-5">Zaufali nam</h2>
    <div class="logos-slide d-flex">
      <div class="logos-track d-flex">
        <div class="logo-item"><a href="/commercial/client-argentum-event"><img src="content/images/png/argentumevent.png" alt="Argentum Event" /></a></div>
        <div class="logo-item"><a href="/commercial/client-pragma-go"><img src="content/images/png/pragmago-logo.png" alt="Pragma GO" /></a></div>
        <div class="logo-item"><a href="/commercial/client-vendorise"><img src="content/images/png/vendorise.png" alt="Vendorise"/></a></div>
        <div class="logo-item"><a href="/commercial/client-personnel-service"><img src="content/images/png/personalservice2.png" alt="Personal Service" /></a></div>
        <div class="logo-item"><a href="/commercial/client-company1"><img src="content/images/svg/LogoEwl-2.svg" alt="EWL" /></a></div>
        <div class="logo-item"><a href="/commercial/client-company2"><img src="content/images/png/logo_innbenefits.png" alt="BenefitsINN" /></a></div>
        <div class="logo-item"><a href="/commercial/client-company3"><img src="content/images/png/mojohr.png" alt="MojoHR" /></a></div>
        <div class="logo-item"><a href="/commercial/client-argentum-event"><img src="content/images/png/argentumevent.png" alt="Argentum Event" /></a></div>
        <div class="logo-item"><a href="/commercial/client-pragma-go"><img src="content/images/png/pragmago-logo.png" alt="Pragma GO" /></a></div>
        <div class="logo-item"><a href="/commercial/client-vendorise"><img src="content/images/png/vendorise.png" alt="Vendorise"/></a></div>
        <div class="logo-item"><a href="/commercial/client-personnel-service"><img src="content/images/png/personalservice2.png" alt="Personal Service" /></a></div>
        <div class="logo-item"><a href="/commercial/client-company1"><img src="content/images/svg/LogoEwl-2.svg" alt="EWL" /></a></div>
        <div class="logo-item"><a href="/commercial/client-company2"><img src="content/images/png/logo_innbenefits.png" alt="BenefitsINN" /></a></div>
        <div class="logo-item"><a href="/commercial/client-company3"><img src="content/images/png/mojohr.png" alt="MojoHR" /></a></div>
      </div>
    </div>
  </div>
</section>
