<section class="login-bg">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="login-card card shadow p-4">
      <div class="d-flex">
        <img src="content/images/svg/smallLogo.svg" width="42" height="42"/>
        <h2 class="text-center mb-4 mx-5">Logowanie</h2>
      </div>
      
      <form>
        <div class="form-floating">
          <input type="text" id="login" class="form-control mb-3" placeholder="Login" required />
          <label for="login" class="form-label">Login</label>
        </div>
        <div class="form-floating">
          <input type="password" id="password" class="form-control mb-3" placeholder="Hasło" required />
          <label for="password" class="form-label">Hasło</label>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input bg-secondary border-dark shadow-none" id="rememberMe">
          <label class="form-check-label " for="rememberMe">Zapamiętaj mnie</label>
        </div>
        <button type="button" class="btn btn-dark w-100">Zaloguj się</button>
      </form>
    </div>
  </div>
</section>

