<nav class="navbar navbar-expand-lg bg-body shadow-sm">
  <div class="container-fluid">
    <a href="#">
      <img src="content/images/png/logo.png" alt="Logo" loading="lazy" class="mb-0 mt-0" />
    </a>

    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Przełącz nawigacje">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="menu" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle fs-5 fw-bold" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">Usługi</a>
          <ul class="dropdown-menu">
            <li>
              <a href="#" class="dropdown-item fs-5">Lead generation</a>
            </li>
            <li>
              <a href="#" class="dropdown-item fs-5">Cold mailing</a>
            </li>
            <li>
              <a href="#" class="dropdown-item fs-5">Automatyzacja linkedin</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link fs-5 fw-bold">O nas</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link fs-5 fw-bold">Kontakt</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link fs-5 fw-bold">Logowanie</a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle fs-5 fw-bold text-danger" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">PL</a>
          <ul class="dropdown-menu">
            <li>
              <a href="#" class="dropdown-item fs-5">EN</a>
            </li>            
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
