<div class="container mt-5" *ngIf="isLoading">
  <div class="text-center">
    <div class="spinner-border text-dark" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>

<div class="container mt-5" *ngIf="!isLoading && orderDetails">
  <div class="card">
    <div class="card-header bg-dark text-white shadow-sm">
      <h3>Temat: [{{ orderDetails.topic }}]</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-8 d-flex flex-column border-end chat-container">
          <div class="chat-area flex-grow-1 d-flex flex-column gap-1">
            <div *ngFor="let message of messages;">
              <p class="mb-1">{{ message.sentAt | date: 'HH:mm dd.MM.yyyy' }}</p>
              <p class="mb-1">{{ message.content }}</p>
            </div>
          </div>
          <div class="p-2 border-top">
            <div class="input-group">
              <input type="text" class="form-control rounded-start" placeholder="Napisz wiadomość..." [(ngModel)]="message">
              <input type="file" class="form-control attachments">
              <button type="button" class="btn btn-dark rounded-end" (click)="sendMessage()">Wyślij</button>
            </div>
          </div>
        </div>

        <div class="col-4 information">
          <h5>Informacje</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <strong>Rozmówca: </strong><span>{{ orderDetails.contactFirstName }} {{ orderDetails.contactLastName }}</span>
            </li>
            <li class="list-group-item">
              <strong>E-mail:</strong>
              {{ orderDetails.contactEmail}}
            </li>
            <li class="list-group-item">
              <strong>Status:</strong>
              {{ orderDetails.status !== null && orderDetails.status !== undefined ? OrderStatusNames[orderDetails.status!] : '' }}
            </li>
            <li class="list-group-item">
              <strong>Kategoria:</strong>
              {{ orderDetails.category !== null && orderDetails.category !== undefined ? OrderCategoryNames[orderDetails.category!] : '' }}
            </li>
            <li class="list-group-item">
              <strong>Priorytet:</strong>
              {{ orderDetails.priority !== null && orderDetails.priority !== undefined ? OrderPriorityNames[orderDetails.priority!] : '' }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
