<section class="register-bg">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="login-card card shadow px-4 py-3">
      <div class="d-flex align-items-center mb-3">
        <img src="content/images/svg/smallLogo.svg" width="42" height="42" />
        <h2 class="text-center mb-0 mx-4"></h2>
      </div>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" novalidate>
        <div>
          <p>Podaj swój adres email, aby otrzymać link aktywacyjny do resetu hasła.</p>
        </div>
        <div class="form-floating mb-3">        
          <input type="text" id="email" class="form-control"  placeholder="Email" formControlName="email" />
          <label for="email">Email</label>
        </div>
        <button type="submit" class="btn btn-dark w-100" >
          Wyślij
        </button>      
      </form>
    </div>
  </div>
</section>
