<section id="welcome">
  <div class="bg-image">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-6">
          <div class="welcome-item text-start d-none d-md-block">
            <h2>
              <img src="content/images/png/logo-black.png" alt="Logo" loading="lazy" class="mb-0 mt-0" width="400" />
            </h2>
            <h4 class="text-dark mt-4 fs-3"><strong>Przyszłość jest teraz</strong></h4>
            <span class="btn-group">
              <button type="button" id="btn_contact" class="btn btn-outline-dark fs-5 mt-2" (click)="goToContact()"><strong>Kontakt</strong></button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

