<section id="welcome">
  <div class="bg-image">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="text-center">
          <h2>
            <img src="content/images/png/logo-black.png" alt="Logo" loading="lazy" class="dyntro-logo img-fluid" />
          </h2>
          <h4 class="text-dark mt-4 fs-3 pb-5">Sukces można zaplanować</h4>
          <h4 class="text-dark mt-4 fs-3"><strong>Generujemy wartościowe leady B2B</strong></h4>
          <p class="card-body fs-4 text-center py-2">
            Specjalizujemy się w pozyskiwaniu klientów B2B dla firm, korzystając z nowoczesnych narzędzi, baz danych oraz wiedzy opartej na realizacji ponad 300 kampanii.
          </p>
          <button type="button" id="btn_contact" class="btn btn-outline-dark fs-5 mt-2">
            <strong>Kontakt</strong>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
