<div class="container-fluid mt-4 px-5">
  <div class="d-flex flex-wrap justify-content-between pb-5 gap-2">
    <div class="input-group  w-sm-auto">
      <span class="input-group-text bg-white" id="search-icon">
        <img src="content/images/svg/search.svg" width="20" height="20" />
      </span>
      <input type="text" class="form-control" placeholder="Wyszukaj użytkownika" aria-describedby="search-icon" #searchByUser />
      <div class="align-self-end ms-1">
        <button class="btn btn-outline-dark" (click)="onSearchedUser()">Zastosuj</button>
      </div>
    </div>
    <div class="d-flex mt-2 mt-sm-0">
      <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#addUserModal">Dodaj użytkownika</button>
      <button class="btn btn-outline-dark ms-2" (click)="deleteUsers()" [disabled]="selectedUserIds.length === 0">Usuń użytkownika</button>
    </div>
  </div>

 
  <div class="table-responsive">
    <table class="table table-hover fs-5">
      <thead class="table-border">
        <tr>
          <th class="text-start">
            <input type="checkbox"
                   class="form-check-input bg-secondary border-dark shadow-none"
                   id="selectAll"
                   [ngModel]="selectAllCheckbox"
                   (ngModelChange)="toogleSelectionAll()"
                   [checked]="selectAllCheckbox">
          </th>
          <th class="text-start">ID</th>
          <th class="text-start">Imię</th>
          <th class="text-start">Nazwisko</th>
          <th class="text-start">Email</th>
          <th class="text-start">Uprawnienia</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers; let i = index">
          <td>
            <input type="checkbox"
                   class="form-check-input bg-secondary border-dark shadow-none"
                   [checked]="user.id !== undefined && isSelected(user.id)"
                   (change)="toogleSelection(user.id!, getCheckboxChecked($event))" />
          </td>
          <td class="text-start">{{ i + 1 }}</td>
          <td class="text-start">{{user.firstName}}</td>
          <td class="text-start">{{user.lastName}}</td>
          <td class="text-start">{{user.email}}</td>
          <td class="text-start">  {{ user.role !== null ? RoleNames[user.role] : 'Brak roli' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
 
  <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addUserModalCenter">Dodaj użytkownika</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="newUser">
            <div class="mb-3">
              <label for="firstName" class="form-label">Imię</label>
              <input type="text" class="form-control" formControlName="firstName">
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label">Nazwisko</label>
              <input type="text" class="form-control" formControlName="lastName" />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" formControlName="email">
            </div>
            <div class="mb-3">
              <label for="role" class="form-label">Uprawnienia</label>
              <select class="form-select" formControlName="role">
                <option *ngFor="let role of [Role.Admin, Role.Client]" [value]="role">
                  {{ RoleNames[role] }}
                </option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="createNewUser()" data-bs-dismiss="modal">Zapisz</button>
          <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Zamknij</button>
        </div>
      </div>
    </div>
  </div>
</div>
