<section class="p-5">
  <div class="container">
    <div>
      <h4 class="text-uppercase fs-5 fw-bold"><span class="text-primary">LinkedIn</span> Social Selling</h4>
      <h1 class="h2">Pozysykiwanie klientów za pomocą automatyzacji LinkedIn</h1>
      <p class="fs-5 py-2">Rozwijaj swoją firmę dzięki LinkedIn, budując trwałe relacje i skutecznie przekształcając kontakty w klientów.</p>
    </div>
  </div>
</section>

<section class="p-5 bg-light">
  <div class="container">
    <h1 class="h2 text-center">Jakie korzyści niesie za sobą automatyzacja LinkedIn</h1>
  </div>
</section>
