<section class="py-5">
  <div class="container">
    <div class="card mx-5">
      <div class="card-body shadow py-4  text-center">
        <h1 class="h2">Generowanie wartościowych leadów dla B2B</h1>
        <p class="fs-6"> Sukces można zaplanować.</p>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container ">
    <div class="row align-items-center mx-5">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <h1 class="h2">Jak wygenerujemy Twoje leady?</h1>
        <p class="fs-5 text-muted">Specjalizujemy się w generowaniu leadów B2B, wspierając proces sprzedaży naszych klientów.</p>
        <ul class="list-unstyled fs-5">
          <li class="mb-3">
            <img src="content\images\svg\check-circle-fill.svg" class="text-success me-1" width="16" height="16">
            <strong>Precyzyjne targetowanie:</strong> Docieramy do właściwych osób we właściwym czasie.
          </li>
          <li class="mb-3">
            <img src="content\images\svg\check-circle-fill.svg" class="text-success me-1" width="16" height="16">
            <strong>Personalizacja komunikacji:</strong> Dostosowujemy przekaz do potrzeb potencjalnych klientów.
          </li>
          <li class="mb-3">
            <img src="content\images\svg\check-circle-fill.svg" class="text-success me-1" width="16" height="16">
            <strong>Doświadczenie:</strong> Tworzymy kampanie zwiększające efektywność działań sprzedażowych.
          </li>
        </ul>
        <p class="text-muted">Współpraca z nami to oszczędność czasu, wyższa konwersja i realne wsparcie w osiąganiu celów.</p>
      </div>
      <div class="col-lg-6 px-5">
        <img src="https://via.placeholder.com/500x300" alt="Generowanie leadów" class="img-fluid rounded shadow">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2 class="h1 text-uppercase text-center mt-5 mb-5">Proces</h2>
    <div class="row text-center pb-5">
      <div class="col-md-4 mb-4">
        <div class="card border p-4 rounded bg-white shadow-sm h-100">
          <div class="card-header bg-white">
            <h3 class="text-start fw-bold text-muted display-4">01</h3>
          </div>
          <p class="card-body lead text-muted fs-4 text-start py-4">
            Odkryj, jak skutecznie pozyskiwać nowych klientów i budować trwałe relacje, wykorzystując innowacyjne strategie i narzędzia
          </p>         
        </div>
      </div>












































      <div class="col-md-4 mb-4">
        <div class="card border p-4 rounded bg-white shadow-sm">
          <div class="card-header bg-white">
            <h3 class="text-start"><strong>Cold mailing</strong></h3>
          </div>
          <p class="card-body lead text-muted text-start fs-4 py-4">
            Efektywnie pozyskuj nowych klientów, wysyłając spersonalizowane wiadomości e-mail. Buduj relacje, wzbudzaj zainteresowanie ofertą i generuj wartościowe leady.
          </p>
          <div class="card-footer bg-white">
            <div class="text-start">
              <button type="button" class="btn btn-outline-dark p-3 mt-4"><strong>Dowiedz się więcej</strong></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card border p-4 rounded bg-white shadow-sm h-100">
          <div class="card-header bg-white">
            <h3 class="text-start"><strong>Automatyzacja linkedin</strong></h3>
          </div>
          <p class="card-body lead text-muted text-start fs-4 py-4 ">
            Rozwijaj swoją sieć kontaktów i docieraj do potencjalnych klientów na LinkedIn.
            Automatyzacja wspiera generowanie leadów i zwiększa zasięg działań.
          </p>
          <div class="card-footer bg-white">
            <div class="text-start">
              <button type="button" class="btn btn-outline-dark p-3 mt-4"><strong>Dowiedz się więcej</strong></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

