<section id="aboutUs" class="py-5 bg-light">
  <div class="container">
    <!-- About us section -->
    <h2 class="h1 text-uppercase text-center mb-0">O nas</h2>
    <div class="justify-content-center">
      <div class="mt-5 rounded p-4 bg-white ">
        <p class="fs-4 lh-lg text-justify p-3">
          Jesteśmy firmą działającą od ponad 3 lat na rynku.
          W Dyntro wspieramy firmy B2B w skutecznym pozyskiwaniu nowych klientów poprzez automatyzację kluczowych procesów sprzedażowych.
          Nasze działania są w pełni spersonalizowane, co pozwala nie tylko oszczędzać czas naszych klientów, ale przede wszystkim
          maksymalizować ich wyniki sprzedażowe. Działamy na skalę globalną, wspierając rozwój firm na każdym etapie ich działalności, dostosowując nasze rozwiązania do specyficznych potrzeb i celów biznesowych.
          Dzięki Dyntro nasi klienci mogą skupić się na strategii, podczas gdy my dostarczamy mierzalne efekty w pozyskiwaniu nowych możliwości biznesowych.
        </p>
      </div>
    </div>


    <!-- Offers -->
    <div class="container">
      <h2 class="h1 text-uppercase text-center mt-5 mb-5">Co oferujemy</h2>
      <div class="row text-center">
        <div class="col-md-4 mb-4">
          <div class="card border p-4 rounded bg-white shadow-sm h-100">
            <div class="card-header bg-white">
              <h3 class="text-start"><strong>Generowanie leadów</strong></h3>
            </div>
            <p class="card-body lead text-muted fs-4 text-start py-4">
              Odkryj, jak skutecznie pozyskiwać nowych klientów i budować trwałe relacje, wykorzystując innowacyjne strategie i narzędzia
            </p>
            <div class="card-footer bg-white">
              <div>
                <button type="button" class="btn btn-outline-dark p-3 mt-4"><strong>Dowiedz się więcej</strong></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card border p-4 rounded bg-white shadow-sm">
            <div class="card-header bg-white">
              <h3 class="text-start"><strong>Cold mailing</strong></h3>
            </div>
            <p class="card-body lead text-muted text-start fs-4 py-4">
              Efektywnie pozyskuj nowych klientów, wysyłając spersonalizowane wiadomości e-mail. Buduj relacje, wzbudzaj zainteresowanie ofertą i generuj wartościowe leady.
            </p>
            <div class="card-footer bg-white">
              <div>
                <button type="button" class="btn btn-outline-dark p-3 mt-4"><strong>Dowiedz się więcej</strong></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card border p-4 rounded bg-white shadow-sm h-100">
            <div class="card-header bg-white">
              <h3 class="text-start"><strong>Automatyzacja linkedin</strong></h3>
            </div>
            <p class="card-body lead text-muted text-start fs-4 py-4 ">
              Rozwijaj swoją sieć kontaktów i docieraj do potencjalnych klientów na LinkedIn.
              Automatyzacja wspiera generowanie leadów i zwiększa zasięg działań.
            </p>
            <div class="card-footer bg-white">
              <div>
                <button type="button" class="btn btn-outline-dark p-3 mt-4"><strong>Dowiedz się więcej</strong></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Our numbers -->
    <div class="container">
      <h2 class="h1 text-uppercase text-center mt-5 mb-5">Bo naszym celem jest Twój sukces!</h2>
      <div class="row text-center">
        <div class="col-md-4 mb-4">
          <div class="border p-4 rounded bg-white shadow-sm h-100">
            <h3 class="display-4 text-success"><strong>300+</strong></h3>
            <p class="lead text-muted"><strong>Zrealizowanych kampanii</strong></p>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="border p-4 rounded bg-white shadow-sm">
            <h3 class="display-4 text-success"><strong>60 mln</strong></h3>
            <p class="lead text-muted"><strong>Wzrostu przychodu w rok, dla naszych parnterów</strong></p>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="border p-4 rounded bg-white shadow-sm">
            <h3 class="display-4 text-success"><strong>14 krajów</strong></h3>
            <p class="lead text-muted"><strong>Europy, w których zrealizowaliśmy kampanie</strong></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Offers -->
    <!-- Clients section -->
    <!-- SPRÓBUJ JUTRO UZYC CAROUSEL TAK ZEBY PRZESKAKIWALY OKIENKA -->
    <div class="container">
      <h2 class="h1 text-uppercase text-center mt-5 mb-5">Zaufali nam</h2>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3 my-sm-0 rounded p-4 bg-white">
        <div class="col">
          <div class="bg-primary text-white text-center rounded p-3">
            <h1 class="h2">Test 1</h1>
          </div>
        </div>
        <div class="col">
          <div class="bg-primary text-white text-center rounded p-3">
            <h1 class="h2">Test 1</h1>
          </div>
        </div>
        <div class="col">
          <div class="bg-primary text-white text-center rounded p-3">
            <h1 class="h2">Test 1</h1>
          </div>
        </div>
        <div class="col">
          <div class="bg-primary text-white text-center rounded p-3">
            <h1 class="h2">Test 1</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


