<section id="aboutUs" class="py-5 bg-light">
  <div class="container">
    <!-- About us section -->
    <h2 class="h1 text-uppercase text-center mb-0">O nas</h2>
    <div class="justify-content-center">
      <div class="mt-5 rounded p-4 bg-white ">
        <p class="fs-4 lh-lg text-justify p-3">
          Jesteśmy firmą działającą od ponad 3 lat na rynku.
          W Dyntro wspieramy firmy B2B w skutecznym pozyskiwaniu nowych klientów poprzez automatyzację kluczowych procesów sprzedażowych.
          Nasze działania są w pełni spersonalizowane, co pozwala nie tylko oszczędzać czas naszych klientów, ale przede wszystkim
          maksymalizować ich wyniki sprzedażowe. Działamy na skalę globalną, wspierając rozwój firm na każdym etapie ich działalności, dostosowując nasze rozwiązania do specyficznych potrzeb i celów biznesowych.
          Dzięki Dyntro nasi klienci mogą skupić się na strategii, podczas gdy my dostarczamy mierzalne efekty w pozyskiwaniu nowych możliwości biznesowych.
        </p>
      </div>
    </div>

    <!-- Our numbers -->
    <div class="container">
      <h2 class="h1 text-uppercase text-center mt-5 mb-5">Bo naszym celem jest Twój sukces!</h2>
      <div class="row text-center">
        <div class="col-md-4 mb-4">
          <div class="border p-4 rounded bg-white shadow-sm h-100">
            <h3 class="display-4 text-success"><strong>300+</strong></h3>
            <p class="lead text-muted"><strong>Zrealizowanych kampanii</strong></p>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="border p-4 rounded bg-white shadow-sm">
            <h3 class="display-4 text-success"><strong>60 mln</strong></h3>
            <p class="lead text-muted"><strong>Wzrostu przychodu w rok, dla naszych parnterów</strong></p>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="border p-4 rounded bg-white shadow-sm">
            <h3 class="display-4 text-success"><strong>14 krajów</strong></h3>
            <p class="lead text-muted"><strong>Europy, w których zrealizowaliśmy kampanie</strong></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Offers -->

    <div class="container">
      <h2 class="h1 text-uppercase text-center mt-5 mb-5">Co oferujemy</h2>
      <div class="row text-center">
        <div class="col-md-4 mb-4">
          <div class="border p-4 rounded bg-white shadow-sm h-100">
            <h3 class="text-primary"><strong>Generowanie leadów</strong></h3>
            <p class="lead text-muted fs-4 fw-bold py-4">Zrealizowanych kampanii</p>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="border p-4 rounded bg-white shadow-sm">
            <h3 class="text-primary"><strong>Cold mailing</strong></h3>
            <p class="lead text-muted fs-4 fw-bold py-4">Jest skuteczna metoda pozyskiwania klientów, opierająca się
              na wysyłaniu spersonalizowanych wiadomości e-mail do osób, z którymi wcześniej nie nawiązano kontaktu.
              Jej celem jest budowanie relacji, wzbudzenie zainteresowania ofertą oraz generowanie wartościowych leadów.</p>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="border p-4 rounded bg-white shadow-sm h-100">
            <h3 class="text-primary"><strong>Automatyzacja linkedin</strong></h3>
            <p class="lead text-muted fs-4 fw-bold py-4 ">Umożliwia aktywne poszerzanie sieci kontaktów na platformie,
              wspierając budowanie relacji z potencjalnymi klientami.
              Dzięki temu procesowi możliwe jest efektywne generowanie leadów i zwiększenie zasięgu działań biznesowych.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Clients section -->
    <!-- SPRÓBUJ JUTRO UZYC CAROUSEL TAK ZEBY PRZESKAKIWALY OKIENKA -->
    <div class="container">
      <h2 class="h1 text-uppercase text-center mt-5 mb-5">Nasi klienci</h2>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3 my-sm-0 rounded p-4 bg-white">
        <div class="col">
          <div class="bg-primary text-white text-center rounded p-3">
            <h1 class="h2">Test 1</h1>
          </div>
        </div>
        <div class="col">
          <div class="bg-primary text-white text-center rounded p-3">
            <h1 class="h2">Test 1</h1>
          </div>
        </div>
        <div class="col">
          <div class="bg-primary text-white text-center rounded p-3">
            <h1 class="h2">Test 1</h1>
          </div>
        </div>
        <div class="col">
          <div class="bg-primary text-white text-center rounded p-3">
            <h1 class="h2">Test 1</h1>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


