<section id="aboutUs" class="py-5 bg-light">
  <div class="container">
    <!-- About us section -->
    <h2 class="h1 text-uppercase text-center mb-0">O nas</h2>
    <div class="justify-content-center">
      <div class="mt-5 rounded p-4 bg-white ">
        <p class="fs-4 lh-lg text-justify p-3">
          Jesteśmy firmą działającą od ponad 3 lat na rynku.
          W Dyntro wspieramy firmy B2B w skutecznym pozyskiwaniu nowych klientów poprzez automatyzację kluczowych procesów sprzedażowych.
          Nasze działania są w pełni spersonalizowane, co pozwala nie tylko oszczędzać czas naszych klientów, ale przede wszystkim
          maksymalizować ich wyniki sprzedażowe. Działamy na skalę globalną, wspierając rozwój firm na każdym etapie ich działalności, dostosowując nasze rozwiązania do specyficznych potrzeb i celów biznesowych.
          Dzięki Dyntro nasi klienci mogą skupić się na strategii, podczas gdy my dostarczamy mierzalne efekty w pozyskiwaniu nowych możliwości biznesowych.
        </p>
      </div>
    </div>

    <!-- Liczby -->
    <div class="container">
      <h2 class="h1 text-uppercase text-center mt-5 mb-0">Bo naszym celem jest twój sukces!</h2>
    </div>
    <!-- Nasze usługi -->

    <div class="container">
      <h2 class="h1 text-uppercase text-center mt-5 mb-0">Co oferujemy</h2>
    </div>

    <!-- Clients section -->
    <h2 class="h1 text-uppercase text-center mt-5 mb-5">Nasi klienci</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3 my-sm-0 rounded p-4 bg-white">
      <div class="col">
        <div class="bg-primary text-white text-center rounded p-3">
          <h1 class="h2">Test 1</h1>
        </div>
      </div>
      <div class="col">
        <div class="bg-primary text-white text-center rounded p-3">
          <h1 class="h2">Test 1</h1>
        </div>
      </div>
      <div class="col">
        <div class="bg-primary text-white text-center rounded p-3">
          <h1 class="h2">Test 1</h1>
        </div>
      </div>
      <div class="col">
        <div class="bg-primary text-white text-center rounded p-3">
          <h1 class="h2">Test 1</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- SPRÓBUJ JUTRO UZYC CAROUSEL TAK ZEBY PRZESKAKIWALY OKIENKA -->
