<!--Clients-->

<section class="pb-5 py-5">
  <div class="container">
    <h1 class="text-lg-center pb-5">Poznaj naszych klientów</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 rounded p-4 bg-white">
      <div class="col d-flex align-items-center justify-content-center ">
        <div class="border shadow-sm text-center p-3 h-100">
          <img src="content/images/png/pragmago-logo.png" alt="Pragma GO" loading="lazy" class="img-fluid my-5 py-5" />
          <p class="text-start">Pragma GO to firma, która przedsiębiorców, oferując szybkie i nowoczesne usługi finansowe dla małych i średnich firm.</p>
          <button type="button" class="btn btn-outline-dark mt-4"><strong>Dowiedz się więcej</strong></button>
        </div>
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <div class="border shadow-sm text-center p-3 h-100 ">
          <img src="content/images/png/argentumevent.png" alt="Argentum Event" loading="lazy" class="img-fluid" />
          <p class="text-start">Argentum Event to firma zajmująca się organizacją wydarzeń na najwyższym poziomie. Oferuje kompleksowe usługi eventowe.</p>
          <button type="button" class="btn btn-outline-dark mt-4"><strong>Dowiedz się więcej</strong></button>
        </div>
      </div>

      <div class="col d-flex align-items-center justify-content-center ">
        <div class="border shadow-sm text-center p-3 h-100">
          <img src="content/images/png/vendorise.png" alt="Vendorise" loading="lazy" class="img-fluid mb-3 py-3" />
          <p class="text-start">Vendorise to firma specjalizująca się w tworzeniu innowacyjnych rozwiązań technologicznych dla biznesu.</p>
          <button type="button" class="btn btn-outline-dark mt-4"><strong>Dowiedz się więcej</strong></button>
        </div>
      </div>
      <div class="col d-flex align-items-center justify-content-center ">
        <div class="border shadow-sm text-center p-3 h-100">
          <img src="content/images/png/personalservice.png" alt="Personal Service" loading="lazy" class="img-fluid py-5" />
          <p class="text-start">Personal Service to lider w dostarczaniu usług kadrowych i rekrutacyjnych dla różnych branż na rynku.</p>
          <button type="button" class="btn btn-outline-dark mt-4"><strong>Dowiedz się więcej</strong></button>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="p-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Cosik tu bd ale nw co pzdr. Ale chwj wygk</h1>
      </div>
    </div>
  </div>
</section>
