<section class="p-5">
  <div class="container">
    <div>
      <h1 class="text-center">Poznaj naszych klientów</h1>
    </div>
  </div>
</section>

<section class="pb-5 py-5">
  <div class="container">
    <h2 class="h1 text-lg-center mb-5">Zaufali nam</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4  rounded p-4 bg-white">
      <div class="col d-flex align-items-center justify-content-center logo-item">
        <div class="card shadow-sm h-100">
          <div ratio ratio-16x9>
            <img src="content/images/png/argentumevent.png" alt="Argentum Event" loading="lazy" class="card-img-top p-5" />
          </div>
          <div class="card-body">
            <h3 class="card-title">Firma 1</h3>
            <p>Firma zajmująca się ledwo cos tam elo co tam nie wiem cot u teraz jest szczxe mdoaw napsiac ale nioe ma [ppioenjca</p>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-center justify-content-center logo-item">
        <div class="card shadow-sm h-100">
          <div ratio ratio-16x9>
            <img src="content/images/png/pragmago-logo.png" alt="Pragma GO" loading="lazy" class="card-img-top p-5" />
          </div>
          <div class="card-body">
            <h3 class="card-title">Firma 1</h3>
            <p>Firma zajmująca się ledwo cos tam elo co tam nie wiem cot u teraz jest szczxe mdoaw napsiac ale nioe ma [ppioenjca</p>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-center justify-content-center logo-item">
        <div class="card shadow-sm h-100">
          <div ratio ratio-16x9>
            <img src="content/images/png/vendorise.png" alt="Vendorise" loading="lazy" class="card-img-top p-5" />
          </div>
          <div class="card-body">
            <h3 class="card-title">Firma 1</h3>
            <p>Firma zajmująca się ledwo cos tam elo co tam nie wiem cot u teraz jest szczxe mdoaw napsiac ale nioe ma [ppioenjca</p>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-center justify-content-center logo-item">
        <div class="card shadow-sm h-100">
          <div ratio ratio-16x9>
            <img src="content/images/png/personalservice2.png" alt="Personal Service" loading="lazy" class="card-img-top p-5" />
          </div>
          <div class="card-body">
            <h3 class="card-title">Firma 1</h3>
            <p>Firma zajmująca się ledwo cos tam elo co tam nie wiem cot u teraz jest szczxe mdoaw napsiac ale nioe ma [ppioenjca</p>
          </div>
        </div>
      </div>     
      
      
    </div>
  </div>
</section>
