<!-- Offers -->
<section id="ourOffer">
  <div class="container">


    <h2 class="h1 text-center mt-5 mb-5">Jakimi kanałami zwiększamy twoją sprzedaż?</h2>
    <div class="row text-center pb-5">
      <div class="col-md-6 mb-4">
        <div class="card border p-4 rounded bg-white shadow-sm">
          <div class="card-header bg-white">
            <h3 class="text-start"><strong>Cold mailing</strong></h3>
          </div>
          <p class="card-body lead text-muted text-start fs-4 py-4">
            Cold mailing to metoda pozyskiwania klientów polegająca na wysyłaniu spersonalizowanych e-maili do osób, z którymi wcześniej nie było kontaktu.
            Celem jest nawiązanie relacji, wzbudzenie zainteresowania i finalnie wygenerowanie sprzedaży.
          </p>
          <div class="card-footer bg-white">
            <div class="text-start">
              <button type="button" class="btn btn-outline-dark p-3 mt-4" (click)="goToColdMailing()"><strong>Dowiedz się więcej</strong></button>
            </div>
          </div>
        </div>
        <!--5235235ujjj-->
      </div>
      <div class="col-md-6 mb-4">
        <div class="card border p-4 rounded bg-white shadow-sm h-100">
          <div class="card-header bg-white">
            <h3 class="text-start"><strong>Automatyzacja linkedin</strong></h3>
          </div>
          <p class="card-body lead text-muted text-start fs-4 py-4 ">
            LinkedIn Social Selling pozwala skutecznie rozwijać sieć kontaktów i nawiązywać relacje z potencjalnymi klientami. Dzięki temu możesz zwiększyć zasięg działań i efektywnie generować leady.
          </p>
          <div class="card-footer bg-white">
            <div class="text-start">
              <button type="button" class="btn btn-outline-dark p-3 mt-4" (click)="goToLinkedinAutomatization()"><strong>Dowiedz się więcej</strong></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Our numbers -->

<section id="ourNumbers" class=" py-5">
  <div class="container">
    <h2 class="h1 text-center mt-0 mb-5">Bo naszym celem jest Twój sukces!</h2>
    <div class="row text-center">
      <div class="col-md-6 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm h-100">
          <h3 class="display-4 "><strong>500+</strong></h3>
          <p class="lead text-muted"><strong>Zrealizowanych kampanii</strong></p>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm">
          <h3 class="display-4 "><strong>60 mln</strong></h3>
          <p class="lead text-muted"><strong>Wzrostu przychodu w rok, dla naszych parnterów</strong></p>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm h-100">
          <h3 class="display-4 "><strong>14 państw</strong></h3>
          <p class="lead text-muted"><strong>Europy, w których zrealizowaliśmy kampanie</strong></p>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm">
          <h3 class="display-4 "><strong>4 lata doświadczenia</strong></h3>
          <p class="lead text-muted"><strong>60 milionów przychodu generowanego przez nasze działania dla jednego z klientów, w rok.</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Clients-->

<app-section-clients-rollbar></app-section-clients-rollbar>



<!--Contact-->

<section class="p-5 py-3 rounded ">
  <div class="container rounded p-4">
    <div class="row">
      <div class="col-md-8 text-center text-md-start mb-4 mb-md-0">
        <h2 class="h4">Masz pytania? Jesteśmy tu, aby pomóc!</h2>
        <h3 class="h5">Skontaktuj się z nami, a razem znajdziemy dla ciebie najlepsze rozwiązanie.</h3>
      </div>
      <div class="col-md-4 text-center text-md-end text-center">
        <div class="d-flex align-items-center justify-content-center justify-content-md-end">
          <span class="btn-group">
            <button type="button" id="btn_contact" (click)="goToContact()" class="btn btn-outline-dark fs-5 mt-2 d-flex align-items-center">
              <img src="content/images/svg/poczta.svg" width="24" height="24" alt="Ikona poczty" class="me-2" />
              <strong>Skontaktuj się z nami</strong>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>


