
<div class="container-fluid mt-5 px-5">
  <div class="d-flex gap-2 align-items-end">
    <div class="input-group">
      <span class="input-group-text bg-white" id="search-icon">
        <img src="content/images/svg/search.svg" width="20" height="20" />
      </span>
      <input type="text" class="form-control" placeholder="Wyszuaj użytkownika" aria-describedby="search-icon" />
    </div>
    <div class="flex-grow-1">
      <label class="form-label">Filtruj</label>
      <select class="form-select" (change)="onSelectedStatus()" #searchStatus >
        <optgroup label="Status">
          <option>Domyślnie</option>
          <option *ngFor="let status of orderStatuses" [value]="status" data-group="status" >
            {{ status }}
          </option>
        </optgroup>
        <optgroup label="Kategoria">
          <option *ngFor="let category of orderKategories" [value]="category" data-group="kategory">
            {{ category }}
          </option>
        </optgroup>
        <optgroup label="Priorytet">
          <option *ngFor="let priority of orderPriorities" [value]="priority" data-group="priority">
            {{ priority }}
          </option>
        </optgroup>
      </select>

    </div>
    <div class="flex-grow-1">
      <label class="form-label">Sortuj według</label>
      <select name="sort-by-element" class="form-select">
        <option>ID</option>
        <option>Data</option>
      </select>
    </div>
    <div class="flex-grow-1">
      <select name="sort-by-direction" class="form-select">
        <option>Malejąco</option>
        <option>Rosnąco</option>
      </select>
    </div>
    <div class="align-self-end">
      <button class="btn btn-dark">Zastosuj</button>
    </div>
  </div>
</div>

