<div class="container-fluid mt-5 px-5">
  <div class="d-flex gap-2 align-items-end">
    <div class="input-group">
      <span class="input-group-text bg-white" id="search-icon">
        <img src="content/images/svg/search.svg" width="20" height="20" />
      </span>
      <input type="text" class="form-control" placeholder="Szukaj" aria-describedby="search-icon" />
    </div>
    <div class="flex-grow-1">
      <label class="form-label">Filtruj</label>
      <select name="filter" class="form-select">
        <option>Wszystko</option>
      </select>
    </div>
    <div class="flex-grow-1">
      <label class="form-label">Sortuj według</label>
      <select name="sort-by-element" class="form-select">
        <option>Data aktualizacji</option>
      </select>
    </div>
    <div class="flex-grow-1">
      <select name="sort-by-direction" class="form-select">
        <option>Malejąco</option>
      </select>
    </div>
    <div class="align-self-end">
      <button class="btn btn-dark">Zastosuj</button>
    </div>
  </div>
</div>

