<section class="py-5">
  <div class="container">
    <h4 class="text-uppercase pb-3">Poznaj historie sukcesu naszego klienta</h4>
    <img src="../../content/images/svg/LogoEwl-2.svg" alt="Argenum Logo" loading="lazy" />
  </div>
</section>

<section class="py-2">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-lg-6">
        <div>
          <h3 class="text-muted opacity-50">Branża</h3>
          <h3 class="fs-4">Produkcja, Magazynowanie, Logistyka</h3>
          <h3 class="text-muted opacity-50 pt-3">Usługa</h3>
          <h3 class="fs-4">Cold Mailing, Linkedin Social Selling</h3>
          <h3 class="text-muted opacity-50 pt-3">Kraj</h3>
          <h3 class="fs-4">Polska, Wielka Brytania, Litwa, Rumunia, Hiszpania, Włochy, Austria, Niemcy, Finlandia, Szwecja, Norwegia, Dania, Czechy, Holandia</h3>
          <h3 class="text-muted opacity-50 pt-3">Grupa docelowa</h3>
          <h3 class="fs-4">Właściciele, C-Level, dział HR oraz Operacyjny</h3>
        </div>
      </div>
      <div class="col-12 col-lg-6 align-content-center">
        <h2 class=" pb-3 pt-5 text-center ">Nasza skuteczność</h2>
        <div class="row">
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h3 class="text-center">52%</h3>
                <p class="text-center text-uppercase fw-bold text-muted opacity-75">Otwartych Maili</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h3 class="text-center">30%</h3>
                <p class="text-center text-uppercase fw-bold text-muted opacity-75 ">Odpowiedzi</p>
              </div>
            </div>
          </div>
          <div class="col mt-3 mt-3 mt-xl-0">
            <div class="card h-100 ">
              <div class="card-body ">
                <h3 class="text-center">70</h3>
                <p class="text-center text-uppercase fw-bold text-muted opacity-75">Leadów miesięcznie</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h2 class="text-center">Profil klienta</h2>
    <p class="py-3 fs-5">
      EWL Group to firma specjalizująca się w rekrutacji i zatrudnianiu pracowników. Oferuje usługi związane z outsourcingiem pracowniczym, leasingiem pracowników oraz legalizacją zatrudnienia cudzoziemców. Pomaga firmom w procesie rekrutacji, zarządzaniu talentami oraz optymalizacji zasobów kadrowych. Obsługuje zarówno rynek polski, jak i międzynarodowy.
    </p>
  </div>
</section>
