<footer class="py-3 bg-light">
  <div class="container">
    <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center">
      <p class="mb-0"><a href="#">Polityka prywatności</a></p>
      <p class="mb-0">© 2025 Dyntro</p>
      <p class="mb-0">kontakt&#64;dyntro.com</p>
      <a href="https://www.linkedin.com/company/dyntro/" target="_blank" rel="nofollow" class="link-dark" data-bs-toggle="tooltip" data-bs-title="LinkedIn"
         aria-label="LinkedIn">
        <img src="content/img/svg/linkedin.svg" alt="test" width="32" height="32" />
      </a>      
    </div>
  </div>
</footer>
