<nav class="navbar navbar-expand-lg bg-light shadow-sm py-3  ">
  <div class="container-fluid px-5">
    <a routerLink="/dashboard/main" class="navbar-brand">
      <img src="../content/images/png/logo-black.png" alt="Logo" loading="lazy" class="mb-0 mt-0" height="35" />
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Przełącz nawigacje">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="menu" class="collapse navbar-collapse ">
      <ul class="navbar-nav ms-auto text-uppercase fs-6 fw-bold ">     
        <li class="nav-item  py-1">
          <a routerLink="/dashboard/main" class="nav-link ">Zlecenia</a>
        </li>
        <li class="nav-item  py-1">
          <a routerLink="/commercial" class="nav-link ">Wyloguj</a>
        </li>
        <li class="nav-item dropdown  py-1">
          <a routerLink="/dashboard/admin-panel" class="nav-link ">Admin</a>
        </li>
        <li class="nav-item  py-0">
          <a routerLink="/commercial/contact" class="nav-link"><img src="../content/images/svg/person-fill.svg" alt="Proile" width="24" height="24" /></a>
        </li>
        <!--<li class="nav-item dropdown ">
    <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="/content/images/svg/poland-flag.svg" alt="PL flag" width="24" height="24" /></a>
   <ul class="dropdown-menu  ">
       <li><a href="#" class="dropdown-item mx-0"><img src="../content/images/svg/uk-flag.svg" alt="UK flag" width="20" height="20" /></a></li>
   </ul>
  </li>-->
      </ul>
    </div>
  </div>
</nav>

