<h1 class="h2">I. Wstęp</h1>
<p>
  <strong>1.</strong> Polityka skierowana jest do użytkowników strony internetowej www.dyntro.com.
  W Polityce zostały opisane zasady gromadzenia oraz przechowywania danych
  Użytkowników, które są gromadzone bezpośrednio od tych osób lub za pomocą Plików
  cookies.
  <br />
  <strong>2.</strong> Przetwarzanie danych osobowych, odbywa się zgodnie z przepisami Ogólnego
  Rozporządzenia o Ochronie Danych 2016/679/WE (dalej: „RODO”) oraz ustawy o
  ochronie danych osobowych (dalej: „ustawa”).
  <br />
  <strong>3.</strong> Administratorem danych osobowych w rozumieniu art. 4 pkt 7 RODO, jest Mateusz
  Ostrowski, prowadzący działalność gospodarczą pod firmą Dyntro Mateusz Ostrowski, z
  siedzibą pod adresem: ul. Daktylowa 23, Smolec 55-080, tel.: 784 449 868, e-mail:
  mateusz.ostrowski &#64;dyntro.com, NIP: 8961618946, REGON: 523567319. W sprawach
  związanych z przetwarzaniem Państwa danych przez Administratora można kontaktować
  się z Inspektorem Ochrony Danych:  e-mail: iod&#64;dyntro.com.
</p>
<h1 class="h2">II. Definicje</h1>
<p>
  <strong>Administrator</strong> - Mateusz Ostrowski, prowadzący działalność gospodarczą pod firmą
  Dyntro Mateusz Ostrowski, z siedzibą pod adresem: ul. Daktylowa 23, Smolec 55-080,
  tel.: 784 449 868, e-mail: mateusz.ostrowski&#64;dyntro.com, NIP: 8961618946, REGON:
  523567319, który świadczy usługi zautomatyzowanych kampanii cold-
  mailingowych business-to-business.
  <br />
  <strong>Dane osobowe</strong> – informacje o osobie fizycznej zidentyfikowanej lub możliwej do
  zidentyfikowania poprzez jeden bądź kilka szczególnych czynników określających
  fizyczną, fizjologiczną, genetyczną, psychiczną, ekonomiczną, kulturową lub społeczną
  tożsamość, w tym IP urządzenia, identyfikator internetowy oraz informacje gromadzone
  za pośrednictwem Plików cookie oraz innej podobnej technologii.
  <br />
  <strong>Polityka</strong> – niniejsza Polityka prywatności.
  <br />
  <strong>Przetwarzanie danych osobowych</strong> – operacja lub zestaw operacji wykonywanych na
  danych osobowych lub zestawach danych osobowych w sposób zautomatyzowany lub
  niezautomatyzowany, w tym m.in. zbieranie, utrwalanie, organizowanie, porządkowanie,
  przechowywanie, adaptowanie lub modyfikowanie, pobieranie, przeglądanie,
  wykorzystywanie, ujawnianie poprzez przesłanie, rozpowszechnianie lub innego rodzaju
  udostępnianie, dopasowywanie lub łączenie, ograniczanie, usuwanie lub niszczenie.
  Strona – oznacza stronę internetową, pod którą Administrator świadczy usługi.
  <br />
  <strong>Użytkownik</strong> – podmiot, na rzecz którego świadczone są usługi przez Administratora.
  <br />
  <strong>Pliki cookies</strong>– dane informatyczne, zapisywane i przechowywane na urządzeniach, za
  pośrednictwem których Użytkownik korzysta ze Strony.
</p>
<h1 class="h2">III. Zakres zbieranych danych</h1>
<p>
  <strong>1.</strong> Strona umożliwia Panu/Pani kontaktowanie się z Administratorem i przekazanie
  danych indentyfikacyjnych oraz kontaktowych. Administrator gromadzi dane związane z
  Pana/Pani aktywnością, jak na przykład: czas spędzony na stronie, wyszukiwane frazy i
  zamówione usługi, cena usługi, termin zamówienia, data i źródło wizyty.
  <br />
  <strong>2.</strong> Dane, które są zbierane zawierają: imię, adres e-mail, numer telefonu.
  <br />
  <strong>3.</strong> Ponadto mogą być zbierane dodatkowe dane, takie jak informacje techniczne
  (adres IP komputera, informacje dotyczące danych do logowania, informacje o
  przeglądarce, dodatków w niej zainstalowanych) oraz informacje o sesji, w tym: adres
  URL, z którego nastąpiło przekierowanie na Stronę, przeglądanych produktach, długości
  wizyt na Stronie i aktywności na niej.
  <br />
  <strong>4.</strong> Strona korzysta także z Plików cookie, które mogą przetwarzać Dane osobowe.
  Zasady korzystania z Plików cookie przez Administratora zostały szczegółowo opisane w
  Polityce plików cookie: <a href="#" class="text-dark">Polityka cookies | DYNTRO</a>
</p>
<h1 class="h2">IV. Źródło danych</h1>
<p>
  Dane identyfikacyjne gromadzone są w związku z korzystaniem przez Pana/Panią ze
  Strony m.in. przy zbieraniu z Plików cookie czy wysłaniu wiadomości za pośrednictwem
  formularza kontaktowego.
</p>
<h1 class="h2">V. Cel, podstawa prawna i termin przetwarzania danych osobowych</h1>
<p>
  Dane mogą być przetwarzane w celu:<br />
  <strong>a)</strong> analizy ruchu Użytkownika na Stronie, zapewnienia bezpieczeństwa w ramach
  działania Strony oraz dostosowania treści do potrzeb Użytkowników na podstawie
  prawnie uzasadnionego interesu Administratora – art. 6 ust. 1 lit. f RODO;
  <br />
  <strong>b)</strong> umożliwienia złożenia zapytania za pośrednictwem formularza kontaktowego,
  udzielania odpowiedzi na zadane pytania, prowadzenia korespondencji w celu
  załatwienia sprawy, na podstawie prawnie uzasadnionego interesu Administratora
  (realizacja żądań Użytkowników) – art. 6 ust. 1 lit. f RODO;
  <br />
  <strong>c)</strong> podjęcia działań niezbędnych do obsługi Użytkownika, w związku ze świadczeniem
  usług drogą elektroniczną jako konieczność do zawarcia i wykonania Umowy (jeśli
  Użytkownik wyrazi wolę zawarcia Umowy) – art. 6 ust. 1 lit. b RODO;
  <br />
  <strong>d)</strong> dochodzenia roszczeń i obrony przed roszczeniami wynikającymi z zawartej
  umowy lub podjętego kontaktu – art. 6 ust. 1 lit. f RODO;
</p>
<h1 class="h2">VI. Okres przetwarzania Danych osobowych</h1>
<p>
  <strong>1.</strong> Okres przetwarzania danych przez Administratora zależy od celu przetwarzania.
  <br />
  <strong>2.</strong> Dane osobowe są przetwarzane w szczególności przez okres niezbędny do
  <br />
  realizacji celów przetwarzania danych, tj: <br />
  <strong>a)</strong> w ramach przetwarzania opisanego w pkt. V lit. a powyżej - przez czas
  korzystania przez Użytkownika ze Strony lub do momentu usunięcia Plików
  cookies;
  <br />
  <strong>b)</strong> w ramach przetwarzania opisanego w pkt. V lit. b powyżej – przez okres 1
  roku od dnia podjęcia kontaktu;
  <br />
  <strong>c)</strong> w ramach przetwarzania opisanego w pkt. V lit. c powyżej – do momentu
  realizacji i rozliczenia umowy;
  <br />
  <strong>d)</strong> w ramach przetwarzania opisanego w pkt. V lit. d powyżej - przez czas
  niezbędny do realizacji tego interesu, w tym zakresie nie dłużej jednak niż do
  czasu przedawnienia roszczeń pomiędzy stronami lub prawomocnego
  rozstrzygnięcia sporu, nie dłużej jednak niż do końca roku kalendarzowego, w
  którym upłynie 2-letni termin od dnia wykonania umowy lub jej rozwiązania.
</p>
<h1 class="h2">VII. Dobrowolność podania danych</h1>
<p>
  <strong>1.</strong> Podanie danych przez Pana/Panią w celach związanych z usługą jest dobrowolne,
  ale niezbędne do podjęcie kontaktu z Administratorem czy zawarcia umowy.
  <br /><br />
  <strong>2.</strong> Zgodnie z zasadą minimalizacji Administrator przetwarza wyłącznie te kategorie
  Danych osobowych, które są niezbędne do osiągnięcia celów, o których mowa w pkt. V
  powyżej.
</p>
<h1 class="h2">VIII. Zarządzanie danymi i bezpieczeństwo</h1>
<p>
  <strong>1.</strong> Administrator nie sprzedaje ani nie udostępnia danych osobowych w celach
  komercyjnych.
  <br />
  <strong>2.</strong> Odbiorcami Pana/Pani danych osobowych mogą być wyłącznie podmioty, które są
  uprawnione do ich otrzymania na mocy przepisów prawa. Ponadto, dane mogą być
  udostępnione również kurierom, kancelariom prawnym, agentom, księgowym oraz
  podmiotom prowadzącym serwer pocztowy.
  <br />
  <strong>3.</strong> Dane mogą być udostępnione pracownikom, członkom kadry kierowniczej,
  dostawcom lub podwykonawcom, o ile jest to niezbędne do celów realizacji usługi.\
  <br />
  <strong>4.</strong> Dane gromadzone przez Administratora są przechowywane w sposób
  zapewniający maksymalne bezpieczeństwo. Administrator podejmuje środki ostrożności
  w celu przeciwdziałania utracie, nadużyciu, zmianie danych osobowych.
  <br />
  <strong>5.</strong> W przypadku uzyskania zgody Użytkownika jego dane mogą zostać także
  udostępnione innym podmiotom do ich własnych celów, w tym celów marketingowych.
  <br />
  <strong>6.</strong> Administrator zastrzega sobie prawo ujawnienia wybranych informacji dotyczących
  Użytkownika właściwym organom bądź osobom trzecim, które zgłoszą żądanie udzielenia
  takich informacji, opierając się na odpowiedniej podstawie prawnej oraz zgodnie z
  przepisami obowiązującego prawa.
  <br />
  <strong>7.</strong> Administrator na bieżąco prowadzi analizę ryzyka w celu zapewnienia, że Dane
  osobowe przetwarzane są przez niego w sposób bezpieczny – zapewniający przede
  wszystkim, że dostęp do danych mają jedynie osoby upoważnione i jedynie w zakresie, w
  jakim jest to niezbędne ze względu na wykonywane przez nie zadania. Administrator dba
  o to, by wszystkie operacje na Danych osobowych były rejestrowane i dokonywane
  jedynie przez uprawnionych pracowników i współpracowników.
  <br />
  <strong>8.</strong> Administrator podejmuje wszelkie niezbędne działania, by także jego
  podwykonawcy i inne podmioty współpracujące dawały gwarancję stosowania
  odpowiednich środków bezpieczeństwa w każdym przypadku, gdy przetwarzają Dane
  osobowe na zlecenie Administratora.
  <br />
  <strong>9.</strong> Niniejsza Polityka prywatności nie ma zastosowania do stron internetowych osób
  trzecich połączonych linkami na Serwisie Administratora. Administrator nie może
  zagwarantować, że te strony trzecie przetwarzają Twoje Dane osobowe w sposób
  niezawodny lub bezpieczny. Zalecamy zapoznanie się z oświadczeniami o ochronie
  prywatności tych witryn przed rozpoczęciem korzystania z nich.
</p>
<h1 class="h2">IX. Prawa użytkowników</h1>
<p>
  Użytkownikowi przysługują następujące prawa:
  <br />
  <strong>a)</strong> prawo do wycofania zgody – zgodę na przetwarzanie danych osobowych można
  wycofać w dowolnym momencie, poprzez kontakt z Administratorem;
  <br />
  <strong>b)</strong> prawo dostępu do danych osobowych – uzyskanie informacji o przetwarzaniu
  danych osobowych, w tym o celach i podstawach prawnych przetwarzania;
  <br />
  <strong>c)</strong> prawo do uzyskania kopii, sprostowania, usunięcia, przeniesienia danych
  osobowych;
  <br />
  <strong>d)</strong> prawo do sprzeciwu wobec przetwarzania danych osobowych w celach
  marketingowych lub innych;
  <br />
  <strong>e)</strong> prawo do bycia zapomnianym;
  <br />
  <strong>f)</strong> prawo do informacji o naruszeniu danych osobowych;
  <br />
  <strong>g)</strong> prawo wniesienia skargi – skarga jest wnoszona do organu nadzorczego, którym
  jest Prezes Urzędu Ochrony Danych Osobowych (adres: ul. Stawki 2, 00-193
  Warszawa).
</p>
<h1 class="h2">
  X. Przekazywanie danych osobowych do państw spoza Europejskiego Obszaru
  Gospodarczego
</h1>
<p>
  Zgodnie z obowiązkiem informacyjnym wynikającym z art. 13 ust. 1 lit. f i art. 14 ust. 1
  lit. f RODO, dane nie będą eksportowane do państw spoza Europejskiego Obszaru
  Gospodarczego.
</p>
<h1 class="h2">XI. Zmiany Polityki prywatności</h1>
<p>
  <strong>1.</strong> Polityka jest na bieżąco weryfikowana i w razie potrzeby aktualizowana. O
  wszelkich zmianach Polityki Użytkownik będzie aktywnie informowany, gdy tylko będzie
  to możliwe.
  <br />
  <strong>2.</strong> Aktualna wersja Polityki została przyjęta i obowiązuje od 05.06.2024
</p>
<h1 class="h2">XI. Zmiana polityki prywatności</h1>
<p>
  Przyszłe i ewentualne zmiany w Polityce Prywatności będą przez Administratora
  ogłaszane na Stronie. Zmiany będą obowiązywały od chwili ich publikacji na Stronie.
  Korzystając ze Strony akceptujesz aktualne brzmienie Polityki Prywatności.
</p>
