<nav class="navbar navbar-expand-lg bg-light shadow-sm py-3  ">
  <div class="container-fluid ">
    <a href="#" class="navbar-brand">
      <img src="content/images/png/logo.png" alt="Logo" loading="lazy" class="mb-0 mt-0" width="180" height="30" />
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Przełącz nawigacje">
      <span class="navbar-toggler-icon"></span>
    </button>
      
    <div id="menu" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto text-uppercase fs-6 fw-bold ">
        <li class="nav-item dropdown py-1">
          <a href="#" class="nav-link dropdown-toggle fs-6fw-bold" role="button" data-bs-toggle="dropdown" aria-expanded="false">Usługi</a>
          <ul class="dropdown-menu">
            <!--<li><a routerLink="/lead-generation" class="dropdown-item fs-5">Lead generation</a></li>--> 
            <li><a routerLink="/cold-mailing" class="dropdown-item ">Cold mailing</a></li>   
            <li><a routerLink="/linkedin-auto" class="dropdown-item ">Automatyzacja LinkedIn</a></li>
          </ul>
        </li>
        <li class="nav-item  py-1">
          <a routerLink="/clients" class="nav-link  ">Sukcesy</a>
        </li> 
        <li class="nav-item  py-1">
          <a routerLink="/about-us" class="nav-link ">O nas</a>
        </li>
        <li class="nav-item  py-1">
          <a routerLink="/contact" class="nav-link ">Kontakt</a>
        </li>
        <li class="nav-item  py-1">
          <a routerLink="/login" class="nav-link ">Logowanie</a>
        </li>
        <li class="nav-item dropdown ">
          <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="../content/images/svg/poland-flag.svg" alt="PL flag" width="24" height="24" /></a>
          <ul class="dropdown-menu  ">
            <li><a href="#" class="dropdown-item mx-0"><img src="../content/images/svg/uk-flag.svg" alt="UK flag" class="dropdown-flag" width="20" height="20"/></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

