<footer class="py-3 bg-light shadow-lg border-top">
  <div class="container">
    <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center">
      <p class="mb-0 "><a href="#" class="text-dark custom-fs" data-bs-toggle="modal" data-bs-target="#modalPrivatyPoliticy">Polityka prywatności</a></p>
      <p class="mb-0"><a href="#" class="text-dark custom-fs" data-bs-toggle="modal" data-bs-target="#modalCookies">Polityka cookies</a></p>
      <p class="mb-0">© 2025 Dyntro</p>
      <p class="mb-0">kontakt&#64;dyntro.com</p>
     
      <a href="https://www.linkedin.com/company/dyntro/" target="_blank" rel="nofollow" class="link-dark" title="LinkedIn"
         aria-label="LinkedIn">
        <img src="content/img/svg/linkedin.svg" alt="test" width="32" height="32" />
      </a>
    </div>
  </div>
</footer>


<!--Modal window (cookiess)-->
<div id="modalCookies" class="modal fade" data-bs-keyboard="false" tabindex="-1" aria-labelledby="etykieta-okna-modalnego" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 id="modalWindowLabel" class="modal-title fs-5">Polityka cookies - Pliki cookie i podobne technologie</h2>
        <button type="button" class="btn-close" aria-label="Zamknij" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <h1 class="h2">Definicje</h1>
        <p>
          <strong>1.</strong> Administrator – Mateusz Ostrowski, prowadzący działalność gospodarczą pod firmą Dyntro Mateusz Ostrowski, z siedzibą pod adresem: ul. Daktylowa 23, Smolec 55-080, tel.: 784 449 868, e-mail: mateusz.ostrowski&#64;dyntro.com, NIP: 8961618946, REGON: 523567319.
          <br />
          <strong>1.2.</strong> Serwis – serwis internetowy prowadzony przez Administratora pod adresem <a href="https://dyntro.com" class="text-dark">dyntro.com</a>
          <br />
          <strong>1.3.</strong> Inspektor Ochrony Danych:
          e-mail: iod&#64;dyntro.com
          <br />
          <strong>1.4.</strong> Pliki cookie – niewielkie pliki tekstowe zapisywane na urządzeniu Użytkownika podczas korzystania z Serwisu oraz wszelkie inne podobne technologie służące do zbierania informacji o aktywności Użytkownika w Serwisie. Pliki cookie mogą pochodzić od Administratora lub od zaufanych partnerów Administratora.
          <br />
          <strong>1.5.</strong> Skrypty – fragmenty kodu programu, który służy do prawidłowego i interaktywnego działania portalu. Ten kod jest wykonywany na serwerze Administratora lub na urządzeniu Użytkownika.
          <br />
          <strong>1.6.</strong>   Pixel tag - Web beacon (lub znacznik pikselowy) to mały, niewidoczny fragment tekstu lub obrazu w Serwisie, który służy do monitorowania ruchu w Serwisie. Aby to zrobić, różne dane o tobie są przechowywane przy użyciu web beaconów.
          <br />
          <strong>1.7.</strong>  Polityka cookies – niniejsza Polityka cookies.
          <br />
          <strong>1.8.</strong>  Użytkownik – każda osoba fizyczna odwiedzająca Serwis i na rzecz której, zgodnie z regulaminem i przepisami prawa mogą być świadczone usługi drogą elektroniczną lub z którym zawarta może być Umowa o świadczenie usług drogą elektroniczną.
          <br />
          <strong>1.9.</strong>  Urządzenie elektroniczne - urządzenie, za pośrednictwem którego Użytkownik uzyskuje dostęp do Serwisu Administratora.
          <br />
          <strong>1.10.</strong> RODO - rozporządzenie Parlamentu Europejskiego i Rady (UE) 2016/679 z 27.04.2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE.
          <br />
          <strong>2.</strong> Czym są cookies?
          <br />
          Plik cookie to niewielki prosty plik wysyłany wraz ze stronami tego portalu i przechowywany przez przeglądarkę na dysku twardym komputera lub innego urządzenia. Informacje w nich przechowywane mogą zostać zwrócone na nasze serwery lub do serwerów odpowiednich stron trzecich podczas kolejnej wizyty.
          <br />
          <strong>3.</strong> Czym są skrypty?
          <br />
          Skrypt to fragment kodu programu, który służy do prawidłowego i interaktywnego działania naszej witryny. Ten kod jest wykonywany na naszym serwerze lub na Twoim Urządzeniu elektronicznym.
          <br />
          <strong>4.</strong> Co to jest pixel tag?
          <br />
          Web beacon (lub znacznik pikselowy) to mały, niewidoczny fragment tekstu lub obrazu na stronie internetowej, który służy do monitorowania ruchu na stronie internetowej. Aby to zrobić, różne dane o Tobie są przechowywane przy użyciu web beaconów.
          <br />
          <strong>5.</strong> Czy te technologie niosą za sobą ryzyka?
          Stosowane w Serwisie rozwiązania są bezpieczne dla Twoich urządzeń. Nie jest możliwe przedostanie się do nich niebezpiecznego lub złośliwego oprogramowania.
          <br />
          <strong>6.</strong> Pliki cookies
          <br />
          <strong>6.1.</strong> Cookies funkcjonalne (niezbędne)
          <br />
          Niektóre Pliki cookie są niezbędne, by zapewnić prawidłowe działanie niektórych części witryny i poznanie preferencji Użytkownika. Umieszczając funkcjonalne Pliki cookie ułatwiamy odwiedzanie naszej strony internetowej. W ten sposób nie musisz wielokrotnie wprowadzanie tych samych informacji podczas odwiedzania naszej strony internetowej. Możemy umieścić te Pliki cookie bez Twojej zgody na podstawie art. 6 ust. 1 lit. b RODO, tj. w celu zapewnienia Ci możliwości korzystania z Serwisu. Okres przetwarzania jest inny dla każdego Pliku cookie. Okresy przetwarzania dla każdego Pliku cookie znajdziesz w tabelce poniżej. Po zakończeniu przetwarzania Pliki cookie zostaną usunięte.
          <br />
          <strong>6.2.</strong> Cookies analityczne
          <br />
          Używamy analitycznych Plików cookie, aby zoptymalizować korzystanie ze strony internetowej dla naszych Użytkowników. Dzięki tym analitycznym Plikom cookie uzyskujemy wgląd w korzystanie z naszego portalu. Serwis nie korzysta z analitycznych Plików cookie.
          <br />
          <strong>6.3.</strong> Marketingowe / śledzące pliki cookies
          <br />
          Marketingowe / śledzące Pliki cookies są Plikami cookies (lub innymi formami lokalnego przechowywania) używanymi do stworzenia profilu Użytkownika w celu wyświetlania mu reklam lub śledzenia Użytkownika w Serwisie lub na innych portalach w podobnych celach marketingowych. Serwis nie korzysta z marketingowych/śledzących Plików cookie.
          <br />
          <!--TO DO ZMIANY 7-8-->
          <strong class="text-warning">7.</strong> Jakie Pliki cookie są wykorzystywane w Serwisie?
          <br />
          Pliki Cookie stosowane w Serwisie: Niezbędne Pliki cookie
          <br />
          Niezbędne Pliki cookie używane przez Serwis to:
          <br />
          <strong class="text-warning">8.</strong> Jak długo przechowywane są poszczególne Pliki cookie?
          <br />
          <strong>8.1.</strong> Niezbędne pliki cookie:
          <br />
          <strong>8.2.</strong> Po upływie okresów wskazanych powyżej – Pliki cookie są usuwane.
          <br />
          <strong>9.</strong> Włączanie / wyłączanie i usuwanie plików cookie
          <br />
          <strong>9.1.</strong> Użytkownik może użyć przeglądarki internetowej do automatycznego lub ręcznego usuwania Plików cookie. Może również określić, że niektóre Pliki cookie mogą nie być umieszczane. Inną opcją jest zmiana ustawień przeglądarki internetowej, tak aby otrzymywać komunikat za każdym razem, gdy Plik cookie zostanie umieszczony.
          <br />
          <strong>9.2.</strong> Serwis może nie działać poprawnie, jeśli wszystkie Pliki cookie są wyłączone. Jeśli Użytkownik usunie Pliki cookie w swojej przeglądarce, zostaną one ponownie umieszczone po wyrażeniu zgody podczas ponownego odwiedzania Serwisu.
          <br />
          <strong>9.3.</strong> Wycofanie zgody na wykorzystanie Plików cookie możliwe jest również za pośrednictwem ustawień przeglądarki. Szczegółowe informacje na ten temat można znaleźć pod poniższymi linkami:
          <br />
          a) <a href="http://support.mozilla.org/pl/kb/ciasteczka" class="text-dark">Mozilla Firefox</a>
          <br />
          b)  <a href="http://support.google.com/chrome/bin/answer.py?hl=pl&answer=95647" class="text-dark">Google Chrome</a>
          <br />
          c)  <a href="http://help.opera.com/Windows/12.10/pl/cookies.html" class="text-dark">Opera</a>
          <br />
          d)  <a href="https://support.apple.com/kb/PH5042?locale=en-GB" class="text-dark">Safari</a>
          <br />
          <strong>9.4.</strong> Użytkownik może w każdej chwili zweryfikować status swoich aktualnych ustawień prywatności dla wykorzystywanej przeglądarki przy wykorzystaniu narzędzi dostępnych pod poniższymi linkami:
          <br />
          a)  <a href="http://www.youronlinechoices.com/pl/twojewybory" class="text-dark">http://www.youronlinechoices.com/pl/twojewybory</a>
          <br />
          b)  <a href="http://optout.aboutads.info/?c=2&lang=EN" class="text-dark">http://optout.aboutads.info/?c=2&lang=EN</a>
          <br />
          <strong>10.</strong> Przekazywanie danych poza EOG
          Pliki cookie nie będą przekazywane poza EOG, czyli do państwa trzeciego.
          <br />
          <strong>11.</strong> Twoje prawa w odniesieniu do danych osobowych
          <br />
          <strong>11.1.</strong> Masz następujące prawa w odniesieniu do swoich danych osobowych:
          a) Masz prawo wiedzieć, dlaczego Twoje dane osobowe są potrzebne, co się z nimi stanie i jak długo będą przechowywane.
          b) Prawo dostępu: masz prawo dostępu do znanych nam danych osobowych.
          c) Prawo do sprostowania: masz prawo do uzupełnienia, poprawienia, usunięcia lub zablokowania danych osobowych w dowolnym momencie.
          z) Jeśli wyrazisz zgodę na przetwarzanie swoich danych, masz prawo odwołać tę zgodę i usunąć swoje dane osobowe.
          e) Prawo do przekazywania danych: masz prawo zażądać od administratora wszystkich swoich danych osobowych i przekazać je w całości innemu kontrolerowi.
          f) Prawo do sprzeciwu: możesz sprzeciwić się przetwarzaniu danych. Przestrzegamy tego, chyba że istnieją uzasadnione podstawy do przetwarzania.
          Aby skorzystać z powyższych praw, skontaktuj się z Administratorem.
          <br />
          <strong>11.2.</strong> Masz również prawo wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych.
          <br />
          <strong>12.</strong> Dane kontaktowe
          <br />
          W przypadku pytań i / lub komentarzy dotyczących niniejszej Polityki i tego oświadczenia, prosimy o kontakt za pomocą następujących danych kontaktowych:
          Dyntro Mateusz Ostrowski,
          ul. Daktylowa 23, Smolec 55-080,
          tel.: 784 449 868, e-mail: mateusz.ostrowski&#64;dyntro.com
          <br />
          <br />
          lub
          <br />
          <br />
          Inspektor Ochrony Danych
          e-mail: iod&#64;dyntro.com
          <br />
          <br />
          <strong>13.</strong> Zmiany Polityki prywatności
          <br />
          <strong>13.1.</strong> Polityka jest na bieżąco weryfikowana i w razie potrzeby aktualizowana.
          <br />
          <strong>13.2.</strong> Aktualna wersja Polityki została przyjęta i obowiązuje od 05.06.2024
        </p>     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>

<!--Modal window (politycy)-->
<div id="modalPrivatyPoliticy" class="modal fade" data-bs-keyboard="false" tabindex="-1" aria-labelledby="etykieta-okna-modalnego" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 id="modalWindowLabel" class="modal-title fs-5">Polityka prywatności</h2>
        <button type="button" class="btn-close" aria-label="Zamknij" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <h1 class="h2">I. Wstęp</h1>
        <p>
          <strong>1.</strong> Polityka skierowana jest do użytkowników strony internetowej www.dyntro.com.
          W Polityce zostały opisane zasady gromadzenia oraz przechowywania danych
          Użytkowników, które są gromadzone bezpośrednio od tych osób lub za pomocą Plików
          cookies.
          <br />
          <strong>2.</strong> Przetwarzanie danych osobowych, odbywa się zgodnie z przepisami Ogólnego
          Rozporządzenia o Ochronie Danych 2016/679/WE (dalej: „RODO”) oraz ustawy o
          ochronie danych osobowych (dalej: „ustawa”).
          <br />
          <strong>3.</strong> Administratorem danych osobowych w rozumieniu art. 4 pkt 7 RODO, jest Mateusz
          Ostrowski, prowadzący działalność gospodarczą pod firmą Dyntro Mateusz Ostrowski, z
          siedzibą pod adresem: ul. Daktylowa 23, Smolec 55-080, tel.: 784 449 868, e-mail:
          mateusz.ostrowski &#64;dyntro.com, NIP: 8961618946, REGON: 523567319. W sprawach
          związanych z przetwarzaniem Państwa danych przez Administratora można kontaktować
          się z Inspektorem Ochrony Danych:  e-mail: iod&#64;dyntro.com.
        </p>
        <h1 class="h2">II. Definicje</h1>
        <p>
          <strong>Administrator</strong> - Mateusz Ostrowski, prowadzący działalność gospodarczą pod firmą
          Dyntro Mateusz Ostrowski, z siedzibą pod adresem: ul. Daktylowa 23, Smolec 55-080,
          tel.: 784 449 868, e-mail: mateusz.ostrowski&#64;dyntro.com, NIP: 8961618946, REGON:
          523567319, który świadczy usługi zautomatyzowanych kampanii cold-
          mailingowych business-to-business.
          <br />
          <strong>Dane osobowe</strong> – informacje o osobie fizycznej zidentyfikowanej lub możliwej do
          zidentyfikowania poprzez jeden bądź kilka szczególnych czynników określających
          fizyczną, fizjologiczną, genetyczną, psychiczną, ekonomiczną, kulturową lub społeczną
          tożsamość, w tym IP urządzenia, identyfikator internetowy oraz informacje gromadzone
          za pośrednictwem Plików cookie oraz innej podobnej technologii.
          <br />
          <strong>Polityka</strong> – niniejsza Polityka prywatności.
          <br />
          <strong>Przetwarzanie danych osobowych</strong> – operacja lub zestaw operacji wykonywanych na
          danych osobowych lub zestawach danych osobowych w sposób zautomatyzowany lub
          niezautomatyzowany, w tym m.in. zbieranie, utrwalanie, organizowanie, porządkowanie,
          przechowywanie, adaptowanie lub modyfikowanie, pobieranie, przeglądanie,
          wykorzystywanie, ujawnianie poprzez przesłanie, rozpowszechnianie lub innego rodzaju
          udostępnianie, dopasowywanie lub łączenie, ograniczanie, usuwanie lub niszczenie.
          Strona – oznacza stronę internetową, pod którą Administrator świadczy usługi.
          <br />
          <strong>Użytkownik</strong> – podmiot, na rzecz którego świadczone są usługi przez Administratora.
          <br />
          <strong>Pliki cookies</strong>– dane informatyczne, zapisywane i przechowywane na urządzeniach, za
          pośrednictwem których Użytkownik korzysta ze Strony.
        </p>
        <h1 class="h2">III. Zakres zbieranych danych</h1>
        <p>
          <strong>1.</strong> Strona umożliwia Panu/Pani kontaktowanie się z Administratorem i przekazanie
          danych indentyfikacyjnych oraz kontaktowych. Administrator gromadzi dane związane z
          Pana/Pani aktywnością, jak na przykład: czas spędzony na stronie, wyszukiwane frazy i
          zamówione usługi, cena usługi, termin zamówienia, data i źródło wizyty.
          <br />
          <strong>2.</strong> Dane, które są zbierane zawierają: imię, adres e-mail, numer telefonu.
          <br />
          <strong>3.</strong> Ponadto mogą być zbierane dodatkowe dane, takie jak informacje techniczne
          (adres IP komputera, informacje dotyczące danych do logowania, informacje o
          przeglądarce, dodatków w niej zainstalowanych) oraz informacje o sesji, w tym: adres
          URL, z którego nastąpiło przekierowanie na Stronę, przeglądanych produktach, długości
          wizyt na Stronie i aktywności na niej.
          <br />
          <strong>4.</strong> Strona korzysta także z Plików cookie, które mogą przetwarzać Dane osobowe.
          Zasady korzystania z Plików cookie przez Administratora zostały szczegółowo opisane w
          Polityce plików cookie: <a href="#" class="text-dark">Polityka cookies | DYNTRO</a>
        </p>
        <h1 class="h2">IV. Źródło danych</h1>
        <p>
          Dane identyfikacyjne gromadzone są w związku z korzystaniem przez Pana/Panią ze
          Strony m.in. przy zbieraniu z Plików cookie czy wysłaniu wiadomości za pośrednictwem
          formularza kontaktowego.
        </p>
        <h1 class="h2">V. Cel, podstawa prawna i termin przetwarzania danych osobowych</h1>
        <p>
          Dane mogą być przetwarzane w celu:<br />
          <strong>a)</strong> analizy ruchu Użytkownika na Stronie, zapewnienia bezpieczeństwa w ramach
          działania Strony oraz dostosowania treści do potrzeb Użytkowników na podstawie
          prawnie uzasadnionego interesu Administratora – art. 6 ust. 1 lit. f RODO;
          <br />
          <strong>b)</strong> umożliwienia złożenia zapytania za pośrednictwem formularza kontaktowego,
          udzielania odpowiedzi na zadane pytania, prowadzenia korespondencji w celu
          załatwienia sprawy, na podstawie prawnie uzasadnionego interesu Administratora
          (realizacja żądań Użytkowników) – art. 6 ust. 1 lit. f RODO;
          <br />
          <strong>c)</strong> podjęcia działań niezbędnych do obsługi Użytkownika, w związku ze świadczeniem
          usług drogą elektroniczną jako konieczność do zawarcia i wykonania Umowy (jeśli
          Użytkownik wyrazi wolę zawarcia Umowy) – art. 6 ust. 1 lit. b RODO;
          <br />
          <strong>d)</strong> dochodzenia roszczeń i obrony przed roszczeniami wynikającymi z zawartej
          umowy lub podjętego kontaktu – art. 6 ust. 1 lit. f RODO;
        </p>
        <h1 class="h2">VI. Okres przetwarzania Danych osobowych</h1>
        <p>
          <strong>1.</strong> Okres przetwarzania danych przez Administratora zależy od celu przetwarzania.
          <br />
          <strong>2.</strong> Dane osobowe są przetwarzane w szczególności przez okres niezbędny do
          <br />
          realizacji celów przetwarzania danych, tj: <br />
          <strong>a)</strong> w ramach przetwarzania opisanego w pkt. V lit. a powyżej - przez czas
          korzystania przez Użytkownika ze Strony lub do momentu usunięcia Plików
          cookies;
          <br />
          <strong>b)</strong> w ramach przetwarzania opisanego w pkt. V lit. b powyżej – przez okres 1
          roku od dnia podjęcia kontaktu;
          <br />
          <strong>c)</strong> w ramach przetwarzania opisanego w pkt. V lit. c powyżej – do momentu
          realizacji i rozliczenia umowy;
          <br />
          <strong>d)</strong> w ramach przetwarzania opisanego w pkt. V lit. d powyżej - przez czas
          niezbędny do realizacji tego interesu, w tym zakresie nie dłużej jednak niż do
          czasu przedawnienia roszczeń pomiędzy stronami lub prawomocnego
          rozstrzygnięcia sporu, nie dłużej jednak niż do końca roku kalendarzowego, w
          którym upłynie 2-letni termin od dnia wykonania umowy lub jej rozwiązania.
        </p>
        <h1 class="h2">VII. Dobrowolność podania danych</h1>
        <p>
          <strong>1.</strong> Podanie danych przez Pana/Panią w celach związanych z usługą jest dobrowolne,
          ale niezbędne do podjęcie kontaktu z Administratorem czy zawarcia umowy.
          <br /><br />
          <strong>2.</strong> Zgodnie z zasadą minimalizacji Administrator przetwarza wyłącznie te kategorie
          Danych osobowych, które są niezbędne do osiągnięcia celów, o których mowa w pkt. V
          powyżej.
        </p>
        <h1 class="h2">VIII. Zarządzanie danymi i bezpieczeństwo</h1>
        <p>
          <strong>1.</strong> Administrator nie sprzedaje ani nie udostępnia danych osobowych w celach
          komercyjnych.
          <br />
          <strong>2.</strong> Odbiorcami Pana/Pani danych osobowych mogą być wyłącznie podmioty, które są
          uprawnione do ich otrzymania na mocy przepisów prawa. Ponadto, dane mogą być
          udostępnione również kurierom, kancelariom prawnym, agentom, księgowym oraz
          podmiotom prowadzącym serwer pocztowy.
          <br />
          <strong>3.</strong> Dane mogą być udostępnione pracownikom, członkom kadry kierowniczej,
          dostawcom lub podwykonawcom, o ile jest to niezbędne do celów realizacji usługi.\
          <br />
          <strong>4.</strong> Dane gromadzone przez Administratora są przechowywane w sposób
          zapewniający maksymalne bezpieczeństwo. Administrator podejmuje środki ostrożności
          w celu przeciwdziałania utracie, nadużyciu, zmianie danych osobowych.
          <br />
          <strong>5.</strong> W przypadku uzyskania zgody Użytkownika jego dane mogą zostać także
          udostępnione innym podmiotom do ich własnych celów, w tym celów marketingowych.
          <br />
          <strong>6.</strong> Administrator zastrzega sobie prawo ujawnienia wybranych informacji dotyczących
          Użytkownika właściwym organom bądź osobom trzecim, które zgłoszą żądanie udzielenia
          takich informacji, opierając się na odpowiedniej podstawie prawnej oraz zgodnie z
          przepisami obowiązującego prawa.
          <br />
          <strong>7.</strong> Administrator na bieżąco prowadzi analizę ryzyka w celu zapewnienia, że Dane
          osobowe przetwarzane są przez niego w sposób bezpieczny – zapewniający przede
          wszystkim, że dostęp do danych mają jedynie osoby upoważnione i jedynie w zakresie, w
          jakim jest to niezbędne ze względu na wykonywane przez nie zadania. Administrator dba
          o to, by wszystkie operacje na Danych osobowych były rejestrowane i dokonywane
          jedynie przez uprawnionych pracowników i współpracowników.
          <br />
          <strong>8.</strong> Administrator podejmuje wszelkie niezbędne działania, by także jego
          podwykonawcy i inne podmioty współpracujące dawały gwarancję stosowania
          odpowiednich środków bezpieczeństwa w każdym przypadku, gdy przetwarzają Dane
          osobowe na zlecenie Administratora.
          <br />
          <strong>9.</strong> Niniejsza Polityka prywatności nie ma zastosowania do stron internetowych osób
          trzecich połączonych linkami na Serwisie Administratora. Administrator nie może
          zagwarantować, że te strony trzecie przetwarzają Twoje Dane osobowe w sposób
          niezawodny lub bezpieczny. Zalecamy zapoznanie się z oświadczeniami o ochronie
          prywatności tych witryn przed rozpoczęciem korzystania z nich.
        </p>
        <h1 class="h2">IX. Prawa użytkowników</h1>
        <p>
          Użytkownikowi przysługują następujące prawa:
          <br />
          <strong>a)</strong> prawo do wycofania zgody – zgodę na przetwarzanie danych osobowych można
          wycofać w dowolnym momencie, poprzez kontakt z Administratorem;
          <br />
          <strong>b)</strong> prawo dostępu do danych osobowych – uzyskanie informacji o przetwarzaniu
          danych osobowych, w tym o celach i podstawach prawnych przetwarzania;
          <br />
          <strong>c)</strong> prawo do uzyskania kopii, sprostowania, usunięcia, przeniesienia danych
          osobowych;
          <br />
          <strong>d)</strong> prawo do sprzeciwu wobec przetwarzania danych osobowych w celach
          marketingowych lub innych;
          <br />
          <strong>e)</strong> prawo do bycia zapomnianym;
          <br />
          <strong>f)</strong> prawo do informacji o naruszeniu danych osobowych;
          <br />
          <strong>g)</strong> prawo wniesienia skargi – skarga jest wnoszona do organu nadzorczego, którym
          jest Prezes Urzędu Ochrony Danych Osobowych (adres: ul. Stawki 2, 00-193
          Warszawa).
        </p>
        <h1 class="h2">
          X. Przekazywanie danych osobowych do państw spoza Europejskiego Obszaru
          Gospodarczego
        </h1>
        <p>
          Zgodnie z obowiązkiem informacyjnym wynikającym z art. 13 ust. 1 lit. f i art. 14 ust. 1
          lit. f RODO, dane nie będą eksportowane do państw spoza Europejskiego Obszaru
          Gospodarczego.
        </p>
        <h1 class="h2">XI. Zmiany Polityki prywatności</h1>
        <p>
          <strong>1.</strong> Polityka jest na bieżąco weryfikowana i w razie potrzeby aktualizowana. O
          wszelkich zmianach Polityki Użytkownik będzie aktywnie informowany, gdy tylko będzie
          to możliwe.
          <br />
          <strong>2.</strong> Aktualna wersja Polityki została przyjęta i obowiązuje od 05.06.2024
        </p>
        <h1 class="h2">XI. Zmiana polityki prywatności</h1>
        <p>
          Przyszłe i ewentualne zmiany w Polityce Prywatności będą przez Administratora
          ogłaszane na Stronie. Zmiany będą obowiązywały od chwili ich publikacji na Stronie.
          Korzystając ze Strony akceptujesz aktualne brzmienie Polityki Prywatności.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>


