<section id="welcome">
  <div class="bg-image">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-6">
          <div class="welcome-item text-start d-none d-md-block">
            <h2>
              <img src="content/images/png/logo-white.png" alt="Logo" loading="lazy" class="mb-0 mt-0" width="350" />
            </h2>
            <h4 class="text-light mt-4"><strong>Przyszłość jestt teraz</strong></h4>
            <span class="btn-group">
              <button type="button" id="btn_contact" class="btn btn-secondary mt-2">Kontakt</button>
            </span>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</section>
