<!--Clients-->
<!-- Clients Flip Cards -->
<section class="pb-5 py-5">
  <div class="container">
    <h1 class="text-center pb-5">Poznaj naszych klientów</h1>
    <div class="flip-container">

      <!-- Firma 1 -->
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="content/images/png/pragmago-logo.png" alt="Pragma GO" />
          </div>
          <div class="flip-card-back">
            <h3>PragmaGO</h3>
            <p>Oferuje faktoring online, finansowanie zakupów firmowych oraz usługi embedded finance.</p>
            <button class="btn btn-outline-light" (click)="goToPragmaGo()"><strong>Więcej</strong></button>
          </div>
        </div>
      </div>

      <!-- Firma 2 -->
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="content/images/png/argentumevent.png" alt="Argentum Event" />
          </div>
          <div class="flip-card-back">
            <h3>Argentum Event</h3>
            <p>Organizuje eventy firmowe, wyjazdy integracyjne i wydarzenia online.</p>
            <button class="btn btn-outline-light" (click)="goToArgentumEvent()"><strong>Więcej</strong></button>
          </div>
        </div>
      </div>

      <!-- Firma 3 -->
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="content/images/png/vendorise.png" alt="Vendorise" />
          </div>
          <div class="flip-card-back">
            <h3>Vendorise</h3>
            <p>Specjalizuje się w audytach agencji pracy tymczasowej i zarządzaniu dostawcami.</p>
            <button class="btn btn-outline-light" (click)="goToVendorise()"><strong>Więcej</strong></button>
          </div>
        </div>
      </div>

      <!-- Firma 4 -->
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="content/images/png/personalservice.png" alt="Personnel Service" />
          </div>
          <div class="flip-card-back">
            <h3>Personal Service</h3>
            <p>Zajmuje się rekrutacją i outsourcingiem pracowników w różnych sektorach.</p>
            <button class="btn btn-outline-light" (click)="goToPersonnelService()"><strong>Więcej</strong></button>
          </div>
        </div>
      </div>

      <!-- Firma 5 -->
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../content/images/png/mojohr.png" alt="Mojo HR" />
          </div>
          <div class="flip-card-back">
            <h3>Mojo HR</h3>
            <p>Specjalizuje się w rekrutacji i doradztwie HR, pomagając firmom znaleźć najlepszych pracowników.</p>
            <button class="btn btn-outline-light" (click)="goToMojoHr()"><strong>Więcej</strong></button>
          </div>
        </div>
      </div>

      <!-- Firma 6 -->
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../content/images/svg/LogoEwl-2.svg" alt="EWL" />
          </div>
          <div class="flip-card-back">
            <h3>EWL Group</h3>
            <p> Firma z dużym doświadczeniem w zatrudnianiu międzynarodowych pracowników, zapewniająca kompleksowe rozwiązania HR dla firm.</p>
            <button class="btn btn-outline-light"  (click)="goToEwl()"><strong>Więcej</strong></button>
          </div>
        </div>
      </div>

      <!-- Firma 7 -->
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../content/images/png/logo_innbenefits.png" alt="INN Benefits" />
          </div>
          <div class="flip-card-back">
            <h3>INNBenefits</h3>
            <p> Oferuje innowacyjne rozwiązania benefitowe, wspierając firmy w motywowaniu i angażowaniu pracowników.</p>
            <button class="btn btn-outline-light" (click)="goToInnBenefits()"><strong>Więcej</strong></button>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>





<!-- Our numbers -->

<section id="ourNumbers" class=" py-5">
  <div class="container">
    <h2 class="h1 text-center mt-0 mb-5">Bo naszym celem jest Twój sukces!</h2>
    <div class="row text-center">
      <div class="col-md-6 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm h-100">
          <h3 class="display-4 "><strong>500+</strong></h3>
          <p class="lead text-muted"><strong>Zrealizowanych kampanii</strong></p>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm">
          <h3 class="display-4 "><strong>60 mln</strong></h3>
          <p class="lead text-muted"><strong>Wzrostu przychodu w ciągu roku u jednego z naszych partnerów</strong></p>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm h-100">
          <h3 class="display-4 "><strong>14 państw</strong></h3>
          <p class="lead text-muted"><strong>Europy,w których zrealizowaliśmy kampanie</strong></p>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="border p-4 rounded bg-white shadow-sm">
          <h3 class="display-4 "><strong>4 lata </strong></h3>
          <p class="lead text-muted"><strong>doświadczenia</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>

